.slideshow .slick-dots {
  display: none !important; }

.categories {
  padding-top: 30px; }
  .categories__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 40px 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .categories__name {
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    color: #755139; }
  .categories__item {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 360px;
    height: 360px;
    width: 100%;
    color: #000000;
    text-align: center;
    -webkit-perspective: 50em;
            perspective: 50em;
    padding: 62px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .categories__item figcaption {
      top: 50%;
      left: 20px;
      right: 20px;
      position: absolute;
      opacity: 0;
      z-index: 1;
      padding: 0 10px; }
    .categories__item h4 {
      font-weight: 400;
      text-transform: uppercase; }
    .categories__item i {
      font-size: 32px; }
    .categories__item:after {
      background-color: #f6f1ed;
      position: absolute;
      content: "";
      display: block;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
      -webkit-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      opacity: 0; }
    .categories__item a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 1; }
    .categories__item:hover figcaption, .categories__item.hover figcaption {
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 1;
      -webkit-transition-delay: 0.2s;
           -o-transition-delay: 0.2s;
              transition-delay: 0.2s; }
    .categories__item:hover:after, .categories__item.hover:after {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 0.9; }
  .categories__link {
    width: 100%;
    height: 48px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    background: #755139;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px; }
  .categories__text {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px; }
