@charset "UTF-8";
.slideshow, .slideshowTools {
  max-height: 772px;
  overflow: hidden; }
  @media (max-width: 500px) {
    .slideshow, .slideshowTools {
      margin-top: 16px; } }
  .slideshow img, .slideshowTools img {
    width: 100%; }
  .slideshow .slick-prev, .slideshowTools .slick-prev {
    left: 13px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #755139;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .slideshow .slick-prev::before, .slideshowTools .slick-prev::before {
      content: '';
      background: url("../img/icons/arrow_slider.svg") no-repeat;
      width: 20px;
      height: 12px;
      display: block;
      opacity: 1; }
    .slideshow .slick-prev:hover, .slideshowTools .slick-prev:hover {
      opacity: .8; }
    @media (max-width: 500px) {
      .slideshow .slick-prev, .slideshowTools .slick-prev {
        display: none !important; } }
  .slideshow .slick-next, .slideshowTools .slick-next {
    right: 13px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #755139;
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .slideshow .slick-next::before, .slideshowTools .slick-next::before {
      content: '';
      background: url("../img/icons/arrow_slider.svg") no-repeat;
      width: 20px;
      height: 12px;
      display: block;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      opacity: 1; }
    .slideshow .slick-next:hover, .slideshowTools .slick-next:hover {
      opacity: .8; }
    @media (max-width: 500px) {
      .slideshow .slick-next, .slideshowTools .slick-next {
        display: none !important; } }
  .slideshow .slick-dots, .slideshowTools .slick-dots {
    bottom: 27px; }
    .slideshow .slick-dots li, .slideshowTools .slick-dots li {
      width: auto;
      height: auto;
      margin: 0 0 0 0; }
      .slideshow .slick-dots li:not(:last-child), .slideshowTools .slick-dots li:not(:last-child) {
        margin-right: 4px; }
      .slideshow .slick-dots li button, .slideshowTools .slick-dots li button {
        opacity: 1;
        display: block;
        padding: 0;
        background: rgba(0, 0, 0, 0);
        border: 1px solid #755139;
        width: 8px;
        height: 8px;
        border-radius: 50%; }
        .slideshow .slick-dots li button::before, .slideshowTools .slick-dots li button::before {
          content: '';
          display: none; }
      .slideshow .slick-dots li.slick-active button, .slideshowTools .slick-dots li.slick-active button {
        background: #755139; }
  @media (max-width: 500px) {
    .slideshow__bannerD, .slideshowTools__bannerD {
      display: none !important; } }
  .slideshow__bannerM, .slideshowTools__bannerM {
    display: none !important; }
    @media (max-width: 500px) {
      .slideshow__bannerM, .slideshowTools__bannerM {
        display: block !important;
        width: 100%; } }

.slideshow.slick-slider {
  max-height: unset; }

.categories {
  padding-top: 30px; }
  @media (max-width: 768px) {
    .categories {
      padding-top: 2px; } }
  .categories__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 40px 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 1400px) {
      .categories__list {
        grid-gap: 40px;
        grid-template-columns: repeat(3, 310px); } }
    @media (max-width: 1199px) {
      .categories__list {
        grid-gap: 25px;
        grid-template-columns: repeat(3, 250px); } }
    @media (max-width: 992px) {
      .categories__list {
        grid-template-columns: repeat(3, 210px); } }
    @media (max-width: 768px) {
      .categories__list {
        grid-template-columns: repeat(2, 48%);
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 500px) {
      .categories__list {
        grid-template-columns: repeat(1, 100%);
        grid-gap: 16px; } }
  .categories__name {
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    color: #755139; }
    @media (max-width: 992px) {
      .categories__name {
        font-size: 18px; } }
    @media (max-width: 768px) {
      .categories__name {
        position: static;
        margin-bottom: 8px;
        font-size: 24px; } }
  .categories__item {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 360px;
    width: 100%;
    color: #000000;
    text-align: center;
    -webkit-perspective: 50em;
            perspective: 50em;
    padding: 62px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1400px) {
      .categories__item {
        height: 310px; } }
    @media (max-width: 1199px) {
      .categories__item {
        height: 250px; } }
    @media (max-width: 992px) {
      .categories__item {
        height: 210px; } }
    @media (max-width: 768px) {
      .categories__item {
        height: 100%; } }
    @media (max-width: 768px) {
      .categories__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 24px 16px 16px 16px; } }
    .categories__item figcaption {
      top: 50%;
      left: 20px;
      right: 20px;
      position: absolute;
      opacity: 0;
      z-index: 1;
      padding: 0 10px; }
      @media (max-width: 768px) {
        .categories__item figcaption {
          position: static;
          opacity: 1;
          width: 100%; } }
    .categories__item h4 {
      font-weight: 400;
      text-transform: uppercase; }
    .categories__item i {
      font-size: 32px; }
    .categories__item:after {
      background-color: #f6f1ed;
      position: absolute;
      content: "";
      display: block;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
      -webkit-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      opacity: 0; }
    .categories__item a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 1; }
    .categories__item:hover figcaption, .categories__item.hover figcaption {
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 1;
      -webkit-transition-delay: 0.2s;
           -o-transition-delay: 0.2s;
              transition-delay: 0.2s; }
      @media (max-width: 768px) {
        .categories__item:hover figcaption, .categories__item.hover figcaption {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; } }
    .categories__item:hover:after, .categories__item.hover:after {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 0.9; }
      @media (max-width: 768px) {
        .categories__item:hover:after, .categories__item.hover:after {
          display: none; } }
    @media (max-width: 768px) {
      .categories__item img {
        max-width: 160px;
        max-height: 160px;
        -o-object-fit: contain;
           object-fit: contain; } }
  .categories__link {
    width: 100%;
    height: 48px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    background: #755139;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px; }
  .categories__text {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px; }
    @media (max-width: 500px) {
      .categories__text {
        margin-bottom: 24px; } }

.open_sort {
  -webkit-transition: all .2s .4s;
  -o-transition: all .2s .4s;
  transition: all .2s .4s;
  position: relative; }
  .open_sort::before {
    content: ''; }
    @media (max-width: 768px) {
      .open_sort::before {
        opacity: 1;
        -webkit-transition: all .4s .6s;
        -o-transition: all .4s .6s;
        transition: all .4s .6s; } }
  .open_sort::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    opacity: 0;
    width: 24px;
    height: 24px;
    background: url(../img/icons/close_big.svg) no-repeat;
    background-position: center;
    opacity: 0;
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2);
    -webkit-transition: all .4s .6s;
    -o-transition: all .4s .6s;
    transition: all .4s .6s; }

@media (max-width: 768px) {
  .open_sort--open {
    position: relative;
    z-index: 12;
    background: #e3d9d2;
    -webkit-box-shadow: 0 0 0 10px #e3d9d2;
            box-shadow: 0 0 0 10px #e3d9d2; } }

.open_sort--open::before {
  content: ''; }
  @media (max-width: 768px) {
    .open_sort--open::before {
      opacity: 0; } }

.open_sort--open::after {
  content: ''; }
  @media (max-width: 768px) {
    .open_sort--open::after {
      opacity: 1; } }

.category {
  padding-top: 24px; }
  .category .products {
    padding-top: 33px; }
    @media (max-width: 768px) {
      .category .products {
        padding-top: 25px; } }
  .category--main {
    padding-top: 0; }
  .category--dog .slideshow--cat {
    display: none; }
  .category--cat .slideshow .slick-prev, .category--cat .slideshow .slick-next {
    background: #006B38; }
  .category--cat .slideshow .slick-dots {
    bottom: 27px; }
  .category--cat .slideshow li button {
    border: 1px solid #006B38; }
  .category--cat .slideshow li.slick-active button {
    background: #006B38; }
  .category--cat .slideshow--dog {
    display: none; }
  .category--cat .brands li.slick-active button::before {
    content: '';
    content: '•';
    color: #006B38; }
  .category--cat .btn--primary {
    background: #006B38; }
  .category--cat .categories__name {
    color: #006B38; }
  .category--cat .categories__link {
    background: #006B38; }
  @media (max-width: 768px) {
    .category--inner {
      width: 100%; } }
  @media (max-width: 768px) {
    .category--inner .sidebar, .category--inner .products, .category--inner .pagination, .category--inner .seo {
      padding-left: 4%;
      padding-right: 4%; } }
  .category__items {
    padding: 0 85px 80px 85px;
    margin-bottom: 38px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .category__items::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      max-width: 941px;
      margin: 0 auto; }
    @media (max-width: 1199px) {
      .category__items {
        padding: 0 0 40px 0;
        margin-bottom: 30px; } }
    @media (max-width: 768px) {
      .category__items {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media (max-width: 500px) {
      .category__items {
        padding-bottom: 0; } }
  .category__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 500px) {
      .category__item {
        margin-bottom: 47px; } }
  .category__thumb {
    max-width: 234px;
    max-height: 234px;
    -o-object-fit: contain;
       object-fit: contain; }
    @media (max-width: 1199px) {
      .category__thumb {
        max-width: 148px;
        max-height: 148px; } }
  .category__name {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 1199px) {
      .category__name {
        font-size: 18px; } }
    @media (max-width: 768px) {
      .category__name {
        font-size: 24px; } }
  .category__mobileTools {
    display: none; }
    @media (max-width: 768px) {
      .category__mobileTools {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .category__sort {
    max-width: 272px; }
    .category__sort::before {
      content: ''; }
      @media (max-width: 768px) {
        .category__sort::before {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          pointer-events: none;
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s; } }
    @media (max-width: 768px) {
      .category__sort {
        display: block;
        position: absolute;
        right: -100%;
        z-index: 11;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; } }
    .category__sort .dropdown__title {
      padding: 4px 40px 4px 8px; }
      .category__sort .dropdown__title::after {
        content: '';
        top: 9px; }
      @media (max-width: 768px) {
        .category__sort .dropdown__title {
          display: none; } }
    @media (max-width: 768px) {
      .category__sort .dropdown__list {
        position: relative;
        display: block !important;
        background: #E3D9D2;
        border: none;
        border-radius: 0; } }
    @media (max-width: 768px) {
      .category__sort--open {
        right: 0; } }
    .category__sort--open::before {
      content: '';
      opacity: 1;
      pointer-events: auto; }

.filter::before {
  content: ''; }
  @media (max-width: 768px) {
    .filter::before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; } }

@media (max-width: 768px) {
  .filter {
    position: absolute;
    top: 44px;
    left: -4%;
    left: -105%;
    z-index: 11;
    width: 336px;
    max-width: 100%;
    background: #E3D9D2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; } }

@media (max-width: 768px) {
  .filter--open {
    left: 0; } }

.filter--open::before {
  content: ''; }
  @media (max-width: 768px) {
    .filter--open::before {
      opacity: 1;
      pointer-events: auto; } }

.filter--sort::before {
  content: ''; }
  @media (max-width: 768px) {
    .filter--sort::before {
      opacity: 1;
      pointer-events: auto; } }

.filter__wrap {
  background: rgba(117, 81, 57, 0.15); }
  @media (max-width: 768px) {
    .filter__wrap {
      background: #E3D9D2; } }

.filter__list {
  margin-top: 16px;
  display: none; }

.filter__item {
  padding: 16px 14px 20px 16px; }
  .filter__item:not(:first-child) {
    border-top: 1px solid rgba(117, 81, 57, 0.5); }
    @media (max-width: 768px) {
      .filter__item:not(:first-child) {
        border-top: 0; } }
  .filter__item--opened .filter__list {
    display: block; }

.filter__title {
  width: 100%;
  border: 0;
  padding: 0;
  background: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }
  .filter__title::after {
    content: '';
    top: 9px; }

.filter__row {
  margin-bottom: 12px; }
  .filter__row--more {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .filter__row--open {
    opacity: 1;
    max-height: 200px;
    margin-bottom: 12px; }

.filter__count {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(36, 36, 38, 0.6); }

.filter__allTitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #3A3A3C; }

.filter label {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #242426; }

.filter__ok {
  padding: 8px 24px;
  margin-left: auto;
  width: auto; }
  .filter__ok:hover {
    -webkit-box-shadow: 0 10px 10px -10px #696969;
            box-shadow: 0 10px 10px -10px #696969; }
  @media (max-width: 992px) {
    .filter__ok {
      margin: 10px auto 0 auto;
      width: 100%; } }
  @media (max-width: 768px) {
    .filter__ok {
      width: auto;
      margin: 0 0 0 auto; } }

.filter__active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .filter__active {
      background: #F6F1ED; } }
  .filter__active .btn {
    padding: 6px 25px 6px 8px;
    border: 1px solid #BAA89C;
    border-radius: 4px;
    margin: 8px 8px 8px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #BAA89C; }

.filter__removeAll {
  padding-right: 8px !important;
  color: #FF4A4A !important;
  border-color: #FF4A4A !important; }

.filter__activeItem {
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .filter__activeItem::after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: url("../img/icons/close_red.svg");
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .filter__activeItem:hover {
    border-color: #755139;
    color: #755139; }

.filter .dropdown__title::after {
  content: '';
  right: 0; }

.filterMob {
  display: none; }
  @media (max-width: 768px) {
    .filterMob {
      padding-left: 32px;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      -webkit-transition: all .2s .4s;
      -o-transition: all .2s .4s;
      transition: all .2s .4s; }
      .filterMob::before {
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 0;
        opacity: 1;
        -webkit-transition: all .4s .6s;
        -o-transition: all .4s .6s;
        transition: all .4s .6s; }
      .filterMob::after {
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 0;
        opacity: 0;
        width: 24px;
        height: 24px;
        background: url(../img/icons/close_big.svg) no-repeat;
        background-position: center;
        opacity: 0;
        -webkit-filter: brightness(0.2);
                filter: brightness(0.2);
        -webkit-transition: all .4s .8s;
        -o-transition: all .4s .8s;
        transition: all .4s .8s; } }
  @media (max-width: 768px) {
    .filterMob--active {
      background: #e3d9d2;
      -webkit-box-shadow: 0 0 0 10px #e3d9d2;
              box-shadow: 0 0 0 10px #e3d9d2;
      position: relative;
      z-index: 12; } }
  .filterMob--active::before {
    content: ''; }
    @media (max-width: 768px) {
      .filterMob--active::before {
        opacity: 0; } }
  .filterMob--active::after {
    content: ''; }
    @media (max-width: 768px) {
      .filterMob--active::after {
        opacity: 1; } }

.rangePrice {
  margin-bottom: 8px; }
  .rangePrice input {
    width: 80px;
    height: 40px;
    border: 1px solid rgba(117, 81, 57, 0.5);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; }
  .rangePrice__vals {
    margin-bottom: 27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .rangePrice__vals {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 768px) {
      .rangePrice__vals {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; } }
  .rangePrice__delim {
    width: 14px;
    height: 1px;
    background: #242426;
    margin: 0 8px; }
    @media (max-width: 992px) {
      .rangePrice__delim {
        margin: 0 10px; } }

.rangePrice__range {
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative; }
  .rangePrice__range .bar {
    position: absolute;
    left: 0;
    max-width: 100% !important;
    background: #FFC830;
    height: 2px; }
    .rangePrice__range .bar .lp span {
      position: relative;
      left: -30px;
      display: none; }
    .rangePrice__range .bar .rp span {
      position: relative;
      left: 10px;
      display: none; }

.rangePrice__range .bar .lp, .rangePrice__range .bar .rp {
  cursor: pointer;
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(36, 36, 38, 0.5); }

.rangePrice__range .bar .lp {
  left: 0px;
  top: -11px; }

.rangePrice__range .bar .rp {
  right: 0;
  top: -11px; }

.ui-widget.ui-widget-content {
  border: 0;
  height: 2px;
  border-radius: 0;
  background: #fff;
  position: relative;
  width: calc(100% - 24px); }

.ui-slider-horizontal .ui-slider-range {
  background: #fff;
  height: 2px;
  background: #755139;
  position: relative; }

.category--cat .ui-slider-range {
  background: #006B38; }

.ui-slider .ui-slider-handle {
  display: block;
  width: 24px !important;
  height: 24px !important;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  border: 1px solid rgba(36, 36, 38, 0.5); }

.price-range-min, .price-range-max {
  display: none; }

.category--cat .pagination ul li a:hover {
  border-color: #006B38; }

.category--cat .pagination__current a {
  background: #006B38; }

.category--cat .ui-slider-horizontal .ui-slider-range {
  background: #006B38; }
