.info__banner {
  position: relative; }
  .info__banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.52); }
  .info__banner img {
    display: block;
    width: 100%;
    margin-top: 0; }

.info__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  line-height: 40px;
  color: #fff; }
  @media (max-width: 1199px) {
    .info__heading {
      font-size: 32px; } }
  @media (max-width: 350px) {
    .info__heading {
      font-size: 24px; } }

.info__content {
  padding-top: 32px; }

.info__title {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  color: #000; }
  @media (max-width: 768px) {
    .info__title {
      text-align: center; } }

.info__subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; }

.info__delivery {
  max-width: 65%; }
  @media (max-width: 1199px) {
    .info__delivery {
      max-width: 100%; } }

.info__payment {
  max-width: 65%; }
  @media (max-width: 1199px) {
    .info__payment {
      max-width: 100%; } }

@media (max-width: 768px) {
  .blog {
    width: 100%; } }

@media (max-width: 992px) {
  .blog .sidebar {
    width: 200px; } }

@media (max-width: 768px) {
  .blog .sidebar {
    width: 100%;
    padding: 0 4%; } }

@media (max-width: 992px) {
  .blog .main {
    width: calc(100% - 200px - 30px); } }

@media (max-width: 768px) {
  .blog .main {
    width: 100%; } }

.blog__categories {
  background: rgba(117, 81, 57, 0.15);
  padding: 16px; }

.blog__category {
  padding: 0; }
  .blog__category a {
    font-weight: 300; }
  .blog__category--active a {
    font-weight: 400; }
  .blog__category:not(:first-child) {
    border-top: 0;
    margin-top: 16px; }

.articles {
  max-width: 1167px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .articles__thumb {
    width: 100%;
    display: block;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .articles__name {
    position: absolute;
    top: 26px;
    left: 26px;
    z-index: 1;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    color: #fff; }
  .articles__item {
    position: relative;
    width: 316px;
    max-width: 27%;
    overflow: hidden; }
    @media (max-width: 1199px) {
      .articles__item {
        width: 49%;
        max-width: 100%;
        height: 348px;
        margin-bottom: 15px; } }
    @media (max-width: 500px) {
      .articles__item {
        width: 100%; } }
    .articles__item:nth-child(7n + 1) {
      width: 100%;
      margin-bottom: 15px;
      max-width: 100%; }
      @media (max-width: 1199px) {
        .articles__item:nth-child(7n + 1) {
          width: 49%; } }
      @media (max-width: 500px) {
        .articles__item:nth-child(7n + 1) {
          width: 100%; } }
      .articles__item:nth-child(7n + 1) .articles__name {
        font-size: 36px;
        font-weight: 300;
        line-height: 40px;
        color: #fff; }
        @media (max-width: 1199px) {
          .articles__item:nth-child(7n + 1) .articles__name {
            font-size: 24px;
            font-weight: 300;
            line-height: 32px;
            color: #fff; } }
    .articles__item:nth-child(7n + 2) {
      width: 473px;
      margin-bottom: 24px;
      max-width: 41%; }
      @media (max-width: 1199px) {
        .articles__item:nth-child(7n + 2) {
          width: 49%;
          max-width: 100%; } }
      @media (max-width: 500px) {
        .articles__item:nth-child(7n + 2) {
          width: 100%; } }
    .articles__item:nth-child(7n + 7) {
      width: 473px;
      margin-bottom: 24px;
      max-width: 41%; }
      @media (max-width: 1199px) {
        .articles__item:nth-child(7n + 7) {
          width: 49%;
          max-width: 100%; } }
      @media (max-width: 500px) {
        .articles__item:nth-child(7n + 7) {
          width: 100%; } }
    .articles__item::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.48);
      z-index: 1;
      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .articles__item:hover::before {
      content: '';
      opacity: 0; }
    .articles__item:hover .articles__thumb {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .articles__more {
    position: absolute;
    bottom: 26px;
    right: 9%;
    max-width: 206px;
    z-index: 1; }
    @media (max-width: 1400px) {
      .articles__more {
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        max-width: 160px;
        padding: 8px 0; } }

.article__content {
  max-width: 804px;
  margin: 0 auto;
  padding-top: 32px; }
  @media (max-width: 992px) {
    .article__content {
      max-width: 92%; } }
  .article__content img {
    display: block;
    margin-bottom: 40px; }
  .article__content .info__subtitle {
    margin-bottom: 19px; }

@media (max-width: 768px) {
  .article__hr--hiddenxs {
    display: none; } }

.about__text {
  padding: 150px 0 80px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .about__text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 768px) {
    .about__text {
      padding: 25px 0; } }
  .about__text .title {
    text-transform: uppercase; }
    @media (max-width: 500px) {
      .about__text .title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px; } }
  .about__text .about__leftCol {
    width: 44%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .about__text .about__leftCol {
        width: 100%; } }
    .about__text .about__leftCol ul li:not(:last-child) {
      margin-bottom: 20px; }
  .about__text .about__rightCol {
    width: 50%; }
    @media (max-width: 992px) {
      .about__text .about__rightCol {
        display: none; } }
    .about__text .about__rightCol img {
      display: block;
      margin: 0 auto; }

.about__intro {
  padding: 85px 0 80px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .about__intro {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 768px) {
    .about__intro {
      padding: 25px 0; } }
  .about__intro .title {
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 500px) {
      .about__intro .title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px; } }
  .about__intro .about__leftCol {
    width: 44%; }
    @media (max-width: 992px) {
      .about__intro .about__leftCol {
        width: 100%; } }
  .about__intro .about__rightCol {
    width: 54%; }
    @media (max-width: 992px) {
      .about__intro .about__rightCol {
        width: 100%; } }

.about__logo {
  display: block;
  margin: 0 auto 20px auto; }

.about__photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .about__photos img {
    width: 444px;
    height: 297px;
    max-width: 25%;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 768px) {
      .about__photos img {
        max-width: 100%; } }

.about .slideshowTools .slick-prev, .about .slideshowTools .slick-next {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.vethelp__content .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 992px) {
    .vethelp__content .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.vethelp__info {
  width: 46%;
  font-size: 18px; }
  @media (max-width: 992px) {
    .vethelp__info {
      width: 100%; } }

.vethelp__form {
  width: 49%; }
  @media (max-width: 992px) {
    .vethelp__form {
      width: 100%; } }
  .vethelp__form .title {
    text-transform: uppercase; }
  .vethelp__form form {
    max-width: 577px; }
    @media (max-width: 768px) {
      .vethelp__form form {
        max-width: 100%; } }
    .vethelp__form form .field .input {
      width: 400px; }
      @media (max-width: 768px) {
        .vethelp__form form .field .input {
          width: 100%; } }

.vethelp__sbm {
  margin-top: 40px; }

@media (max-width: 768px) {
  .actions__inner {
    width: 100%; } }

.actions__list {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 18px;
  padding-top: 78px; }
  @media (max-width: 992px) {
    .actions__list {
      grid-template-columns: repeat(2, 49%);
      padding-top: 0; } }
  @media (max-width: 768px) {
    .actions__list {
      grid-template-columns: repeat(1, 100%);
      grid-gap: 24px; } }

.actions__name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  font-weight: 400;
  color: #fff;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.actions__item {
  position: relative; }
  .actions__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-74.92%, rgba(196, 196, 196, 0)), color-stop(94.35%, #3A3A3C));
    background: -o-linear-gradient(top, rgba(196, 196, 196, 0) -74.92%, #3A3A3C 94.35%);
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) -74.92%, #3A3A3C 94.35%);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .actions__item:hover::before {
    content: '';
    opacity: 1; }
  .actions__item:hover .actions__name {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 1;
    pointer-events: auto; }

.actions__thumb {
  display: block;
  width: 100%;
  height: 100%; }

.success {
  padding-bottom: 104px; }
  .success__inner {
    max-width: 457px;
    margin: 0 auto; }
  .success__thumb {
    border-radius: 50%; }
  .success__title {
    position: absolute;
    top: -36px;
    left: 32px; }
    @media (max-width: 500px) {
      .success__title {
        top: -47px;
        left: 60px;
        width: 30%; } }
  .success__img {
    position: relative;
    text-align: center;
    margin-top: 45px; }
    @media (max-width: 768px) {
      .success__img {
        margin-top: 17px; } }
    @media (max-width: 768px) {
      .success__img--logged {
        margin-top: 45px; } }
    @media (max-width: 500px) {
      .success__img--logged .success__thumb {
        width: 40%; } }
  .success__text {
    margin: 6px 0 15px 0; }
  .success__btn {
    display: block; }

.notFound {
  text-align: center;
  padding: 38px 0 154px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .notFound {
      padding: 0 0 140px 0; } }
  @media (max-width: 768px) {
    .notFound__img {
      width: 216px; } }
  .notFound__title {
    letter-spacing: 0.1em;
    margin-top: -30px;
    font-size: 254px;
    font-weight: 700;
    line-height: 254px;
    color: #755139; }
    @media (max-width: 992px) {
      .notFound__title {
        margin-top: 0;
        font-size: 143px;
        line-height: 143px; } }
  .notFound__subtitle {
    letter-spacing: 0.1em;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #755139; }
    @media (max-width: 992px) {
      .notFound__subtitle {
        font-size: 20px;
        line-height: 20px; } }
  .notFound__btn {
    display: block;
    max-width: 100%;
    width: 388px;
    margin: 38px auto 0 auto; }

.contacts__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 992px) {
    .contacts__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.contacts__title {
  padding-top: 24px; }

.contacts__item {
  width: 49%;
  position: relative; }
  @media (max-width: 992px) {
    .contacts__item {
      width: 100%; } }
  @media (max-width: 992px) {
    .contacts__item:not(:last-child) {
      margin-bottom: 32px; } }
  .contacts__item iframe {
    width: 100%;
    height: 635px; }
    @media (max-width: 1199px) {
      .contacts__item iframe {
        height: 430px; } }
    @media (max-width: 768px) {
      .contacts__item iframe {
        height: 288px; } }

.contactsWidget {
  padding: 23px;
  background: #755139;
  position: absolute;
  top: 23px;
  border-radius: 4px; }
  @media (max-width: 768px) {
    .contactsWidget {
      position: static; } }
  .contactsWidget li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #fff; }
    @media (max-width: 768px) {
      .contactsWidget li {
        font-size: 18px; } }
    .contactsWidget li::before {
      content: '';
      margin-right: 8px; }
    @media (max-width: 768px) {
      .contactsWidget li:not(:first-child) {
        margin-top: 15px; } }
    .contactsWidget li a {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #fff; }
      @media (max-width: 768px) {
        .contactsWidget li a {
          font-size: 18px; } }
  .contactsWidget--first {
    left: 8%; }
  .contactsWidget--second {
    left: 30px; }

.partners__inner {
  position: relative; }

.partners__img {
  min-height: 750px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 500px) {
    .partners__img {
      -o-object-position: -400px 0;
         object-position: -400px 0; } }

.partners__wrap {
  position: absolute;
  top: 17%;
  left: 7%;
  max-width: 453px; }
  @media (max-width: 1400px) {
    .partners__wrap {
      max-width: 365px;
      left: 5%;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }
  @media (max-width: 768px) {
    .partners__wrap {
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      max-width: 100%;
      width: 75%; } }
  @media (max-width: 500px) {
    .partners__wrap {
      width: 92%;
      top: 24px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }

.partners__title {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #fff; }
  @media (max-width: 768px) {
    .partners__title {
      font-size: 32px;
      line-height: 40px; } }
  @media (max-width: 500px) {
    .partners__title {
      text-align: center; } }

.partners__desc {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #fff; }
  @media (max-width: 768px) {
    .partners__desc {
      font-size: 16px;
      line-height: 24px; } }

.partners__form .field:not(:first-child) {
  margin-top: 24px; }
  @media (max-width: 1199px) {
    .partners__form .field:not(:first-child) {
      margin-top: 14px; } }
  @media (max-width: 768px) {
    .partners__form .field:not(:first-child) {
      margin-top: 16px; } }

.partners__form .field input, .partners__form .field textarea {
  background: #fff;
  width: 100%;
  height: 60px;
  border-radius: 4px; }
  @media (max-width: 768px) {
    .partners__form .field input, .partners__form .field textarea {
      height: 56px; } }

.partners__form .field textarea {
  height: 112px;
  padding-top: 11px; }

.partners__file {
  display: none; }

.partners__add {
  max-width: 218px;
  padding: 8px 0; }
  @media (max-width: 1199px) {
    .partners__add {
      font-size: 14px;
      padding: 4px 0;
      max-width: 50%; } }
  @media (max-width: 500px) {
    .partners__add {
      margin-top: 16px; } }

.partners__path {
  color: #fff;
  font-size: 12px;
  padding-left: 20px; }

.partners__sbm {
  margin-top: 24px;
  padding: 24px 0; }
  @media (max-width: 1199px) {
    .partners__sbm {
      margin-top: 14px;
      padding: 13px 0; } }
  @media (max-width: 768px) {
    .partners__sbm {
      padding: 14px 0;
      margin-top: 16px; } }
