.product {
  padding-bottom: 104px; }
  @media (max-width: 768px) {
    .product {
      width: 100%;
      padding: 16px 0 80px 0; } }
  .product__mobTitle {
    display: none; }
    @media (max-width: 768px) {
      .product__mobTitle {
        display: block;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 8px;
        padding: 0 4%;
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
        color: #000; } }
  .product__main {
    margin-bottom: 67px;
    padding-left: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 1199px) {
      .product__main {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 0; } }
    @media (max-width: 992px) {
      .product__main {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    @media (max-width: 768px) {
      .product__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        max-height: unset;
        overflow: visible;
        margin-bottom: 0; } }
  .productImages {
    max-width: 40%;
    padding-top: 24px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 992px) {
      .productImages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
    @media (max-width: 768px) {
      .productImages {
        max-width: 100%;
        padding: 0 4%; } }
    .productImages__nav {
      max-width: 90px; }
      @media (max-width: 992px) {
        .productImages__nav {
          max-width: 100%;
          margin-top: 10px; } }
      .productImages__nav .slick-slide {
        width: 90px;
        height: 90px;
        display: block; }
        .productImages__nav .slick-slide:not(:last-child) {
          margin-bottom: 24px; }
          @media (max-width: 992px) {
            .productImages__nav .slick-slide:not(:last-child) {
              margin-bottom: 0; } }
        .productImages__nav .slick-slide img {
          height: 100%;
          -o-object-fit: contain;
             object-fit: contain;
          width: 100%; }
        .productImages__nav .slick-slide iframe {
          pointer-events: none;
          width: 100%; }
    .productImages__thumbs {
      width: calc(100% - 134px);
      margin-left: 44px; }
      @media (max-width: 992px) {
        .productImages__thumbs {
          width: 100%;
          margin-left: 0; } }
      .productImages__thumbs .slick-slide {
        height: 575px; }
        @media (max-width: 1400px) {
          .productImages__thumbs .slick-slide {
            height: 463px; } }
        @media (max-width: 1199px) {
          .productImages__thumbs .slick-slide {
            height: 348px; } }
        .productImages__thumbs .slick-slide img {
          width: 100%;
          height: 100%;
          display: block;
          -o-object-fit: contain;
             object-fit: contain; }
        .productImages__thumbs .slick-slide iframe {
          width: 100%;
          height: 100%;
          display: block; }
    .productImages .preview__sticker {
      top: 24px;
      right: 0;
      left: unset; }
  .productInfo {
    margin-left: 80px;
    width: 100%; }
    @media (max-width: 1800px) {
      .productInfo {
        margin-left: 25px; } }
    @media (max-width: 768px) {
      .productInfo {
        margin-left: 0; } }
    .productInfo__wrap {
      padding: 24px 28px 32px 39px;
      border: 1px solid rgba(117, 81, 57, 0.25);
      border-top: 0; }
      @media (max-width: 1400px) {
        .productInfo__wrap {
          padding: 16px; } }
      @media (max-width: 768px) {
        .productInfo__wrap {
          padding: 16px 4%;
          margin-top: 16px;
          border: 0;
          border-top: 1px solid rgba(117, 81, 57, 0.25); } }
    .productInfo__title {
      margin-bottom: 8px;
      text-transform: none; }
      @media (max-width: 1199px) {
        .productInfo__title {
          font-size: 24px;
          line-height: 28px; } }
      @media (max-width: 768px) {
        .productInfo__title {
          display: none; } }
    .productInfo__articul {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #A1A1A1; }
    .productInfo__avail {
      position: relative;
      padding-left: 22px;
      margin-bottom: 32px; }
      @media (max-width: 768px) {
        .productInfo__avail {
          margin-bottom: 13px; } }
      .productInfo__avail::before {
        content: '';
        width: 19px;
        height: 19px;
        background: url("../img/sprite.png") -170px -5px no-repeat;
        position: absolute;
        top: 2px;
        left: 0;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
      .productInfo__avail::after {
        content: '';
        width: 19px;
        height: 19px;
        background: url("../img/sprite.png") -199px -5px no-repeat;
        position: absolute;
        top: 2px;
        left: 0;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
      .productInfo__avail--in::before {
        content: '';
        opacity: 1; }
      .productInfo__avail--in::after {
        content: '';
        opacity: 0; }
      .productInfo__avail--out::before {
        content: '';
        opacity: 0; }
      .productInfo__avail--out::after {
        content: '';
        opacity: 1; }
    .productInfoOptions__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .productInfoOptions__item:not(:first-child) {
        margin-top: 25px; }
      .productInfoOptions__item--color label {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        position: relative;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        .productInfoOptions__item--color label::after {
          content: '';
          position: absolute;
          top: -4px;
          left: -4px;
          right: -4px;
          bottom: -4px;
          border: 1px solid green;
          border-radius: 4px;
          opacity: 0;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .productInfoOptions__item--color label:hover::after {
          content: '';
          opacity: 1; }
      .productInfoOptions__item--color input[type=radio] {
        display: none; }
        .productInfoOptions__item--color input[type=radio]:checked + label::after {
          content: '';
          opacity: 1; }
      .productInfoOptions__item--color .productInfoOptions__option--dis {
        pointer-events: none; }
        .productInfoOptions__item--color .productInfoOptions__option--dis label::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1px;
          height: 100%;
          -webkit-transform: translateY(-50%) rotate(-45deg);
              -ms-transform: translateY(-50%) rotate(-45deg);
                  transform: translateY(-50%) rotate(-45deg);
          background: #d2d2d2; }
        .productInfoOptions__item--color .productInfoOptions__option--dis label::after {
          content: '';
          border-color: #d2d2d2;
          opacity: 1; }
      .productInfoOptions__item--preview {
        margin-top: auto !important;
        padding: 5px 0 0 5px; }
        .productInfoOptions__item--preview .productInfoOptions__title {
          display: none; }
    .productInfoOptions__tooltip {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      bottom: -40px;
      background: #fff;
      padding: 5px;
      font-size: 14px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      left: 50%;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 5px #969697;
              box-shadow: 0 0 5px #969697;
      -webkit-transition: all .2s linear .2s;
      -o-transition: all .2s linear .2s;
      transition: all .2s linear .2s; }
    .productInfoOptions__title {
      color: #000;
      width: 100%;
      margin-bottom: 16px; }
    .productInfoOptions__option {
      margin-bottom: 10px;
      position: relative; }
      .productInfoOptions__option:hover .productInfoOptions__tooltip {
        opacity: 1;
        pointer-events: auto; }
      .productInfoOptions__option:not(:last-child) {
        margin-right: 20px; }
    .productInfo__tools {
      padding: 52px 40px 48px 40px;
      border: 1px solid rgba(117, 81, 57, 0.25);
      border-top: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1400px) {
        .productInfo__tools {
          padding: 16px; } }
      @media (max-width: 992px) {
        .productInfo__tools {
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; } }
      @media (max-width: 768px) {
        .productInfo__tools {
          border: 0;
          border-top: 1px solid rgba(117, 81, 57, 0.25);
          padding: 16px 4%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start; } }
    .productInfo__price {
      margin-right: 80px; }
      @media (max-width: 1800px) {
        .productInfo__price {
          margin-right: 40px; } }
      @media (max-width: 1199px) {
        .productInfo__price {
          margin-right: 20px; } }
      .productInfo__price .preview__price--discount .preview__discount {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 4px; }
        @media (max-width: 1400px) {
          .productInfo__price .preview__price--discount .preview__discount {
            font-size: 20px; } }
        @media (max-width: 1199px) {
          .productInfo__price .preview__price--discount .preview__discount {
            font-size: 16px; } }
        @media (max-width: 768px) {
          .productInfo__price .preview__price--discount .preview__discount {
            font-size: 24px; } }
      .productInfo__price .preview__price--discount .preview__total {
        white-space: nowrap;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px; }
        @media (max-width: 1400px) {
          .productInfo__price .preview__price--discount .preview__total {
            font-size: 30px;
            line-height: 32px; } }
        @media (max-width: 1199px) {
          .productInfo__price .preview__price--discount .preview__total {
            font-size: 24px;
            line-height: 24px; } }
        @media (max-width: 768px) {
          .productInfo__price .preview__price--discount .preview__total {
            font-size: 40px;
            line-height: 48px; } }
    .productInfo__banner {
      margin-top: 29px;
      width: 100%;
      display: block; }
      @media (max-width: 1199px) {
        .productInfo__banner {
          margin-top: 10px; } }
      @media (max-width: 768px) {
        .productInfo__banner {
          margin-top: 0; } }
    .productInfo__buy {
      max-width: 227px;
      margin-right: 40px; }
      @media (max-width: 1400px) {
        .productInfo__buy {
          max-width: 180px;
          padding: 12px 0; } }
      @media (max-width: 1199px) {
        .productInfo__buy {
          font-size: 14px;
          max-width: 150px;
          padding: 8px 0;
          margin-right: 20px; } }
      @media (max-width: 992px) {
        .productInfo__buy {
          -webkit-box-ordinal-group: 4;
          -webkit-order: 3;
              -ms-flex-order: 3;
                  order: 3;
          max-width: 200px; } }
      @media (max-width: 768px) {
        .productInfo__buy {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
              -ms-flex-order: 0;
                  order: 0;
          max-width: 100%;
          font-size: 18px;
          padding: 18px 0; } }
    .productInfo__wish {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 992px) {
        .productInfo__wish {
          margin-left: auto; } }
      @media (max-width: 768px) {
        .productInfo__wish {
          margin: 24px 0 0 -42px;
          padding-left: 42px;
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
          position: relative; } }
      .productInfo__wish::before {
        content: '';
        margin-right: 16px; }
        @media (max-width: 768px) {
          .productInfo__wish::before {
            margin-right: 0;
            position: absolute;
            left: 0; } }
      .productInfo__wish span {
        white-space: nowrap; }
  .productTabs__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 992px) {
      .productTabs__nav {
        overflow: auto; } }
  .productTabs__tab {
    display: none; }
    .productTabs__tab--active {
      display: block;
      -webkit-animation: fadeIn 1s;
              animation: fadeIn 1s; }
    .productTabs__tab--chars .productTabs__content {
      overflow: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .productTabs__tab--chars .listColored:not(:last-child) {
      margin-right: 72px; }
    .productTabs__tab--chars .listColored:last-child {
      padding-right: 24px;
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }
    .productTabs__tab--rev .productTabs__content {
      padding: 0; }
  .productTabs__pick {
    text-transform: uppercase;
    position: relative;
    padding: 8px 40px;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px; }
    @media (max-width: 1400px) {
      .productTabs__pick {
        font-size: 24px; } }
    @media (max-width: 1199px) {
      .productTabs__pick {
        font-size: 18px;
        line-height: 30px; } }
    .productTabs__pick::after {
      content: '';
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 8px;
      height: 1px;
      background: rgba(0, 0, 0, 0);
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .productTabs__pick--active {
      background: #fff;
      color: #755139; }
      .productTabs__pick--active::after {
        content: '';
        background: #755139; }
  .productTabs__content {
    background: #fff;
    padding: 24px; }
  @media (max-width: 768px) {
    .productTabs--d {
      display: none; } }
  .productTabs--m {
    display: none; }
    @media (max-width: 768px) {
      .productTabs--m {
        display: block; } }
    .productTabs--m .dropdown {
      border-bottom: 1px solid rgba(117, 81, 57, 0.25);
      padding: 0 4%; }
    .productTabs--m .dropdown__title {
      border: 0;
      background: rgba(0, 0, 0, 0);
      border-radius: 0;
      text-transform: uppercase;
      padding: 8px 40px 8px 0;
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      color: #000; }
    .productTabs--m .dropdown__list {
      position: static;
      border: 0;
      background: rgba(0, 0, 0, 0);
      border-radius: 0;
      padding: 16px 0 8px 0;
      line-height: 24px; }

.reviews__header {
  padding: 24px 24px 32px 24px;
  border-bottom: 1px solid #755139; }
  @media (max-width: 768px) {
    .reviews__header {
      padding: 0;
      border-bottom: 0; } }
  .reviews__header .btn--dashed {
    font-size: 18px;
    font-weight: 400; }

.reviews__add {
  max-width: 388px;
  margin-top: 12px; }

.reviews__inner {
  padding: 38px 24px 24px 24px;
  max-width: 1162px; }
  @media (max-width: 768px) {
    .reviews__inner {
      padding: 27px 0 0 0; } }

.reviews__review:not(:last-child) {
  margin-bottom: 16px; }
  @media (max-width: 768px) {
    .reviews__review:not(:last-child) {
      margin-bottom: 8px; } }

.reviews__title {
  background: #F4F4F4;
  padding: 15px 24px;
  border: 1px solid #CCCCD1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .reviews__title {
      padding: 15px 8px; } }

.reviews__name {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000; }

.reviews__text {
  border: 1px solid #CCCCD1;
  border-top: 0;
  padding: 15px 24px;
  background: #fff; }
  @media (max-width: 768px) {
    .reviews__text {
      padding: 8px; } }
  .reviews__text p {
    margin: 0; }

.reviews__footer {
  padding: 16px 24px 40px 24px;
  max-width: 1162px; }
  @media (max-width: 768px) {
    .reviews__footer {
      padding: 16px 0; } }
  .reviews__footer .loadMore {
    margin-top: 0; }

.related {
  padding-top: 40px; }
  @media (max-width: 768px) {
    .related {
      padding-top: 32px; } }
  .related .container {
    width: 100%; }
    @media (max-width: 768px) {
      .related .container {
        width: 92%; } }
