.product__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.productImages {
  max-width: 40%;
  padding-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .productImages__nav {
    max-width: 90px; }
    .productImages__nav .slick-slide {
      width: 90px;
      height: 90px;
      display: block; }
      .productImages__nav .slick-slide:not(:last-child) {
        margin-bottom: 24px; }
      .productImages__nav .slick-slide img {
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
      .productImages__nav .slick-slide iframe {
        pointer-events: none; }
  .productImages__thumbs {
    width: 575px;
    height: 575px;
    margin-left: 44px; }
    .productImages__thumbs .slick-slide img {
      width: 575px;
      height: 575px;
      display: block;
      -o-object-fit: contain;
         object-fit: contain; }

.productInfo {
  margin-left: 80px; }
  .productInfo__wrap {
    padding: 24px 28px 32px 39px;
    border: 1px solid rgba(117, 81, 57, 0.25);
    border-top: 0; }
  .productInfo__title {
    margin-bottom: 8px; }
  .productInfo__articul {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #A1A1A1; }
  .productInfo__avail {
    position: relative;
    padding-left: 22px;
    margin-bottom: 32px; }
    .productInfo__avail::before {
      content: '';
      width: 19px;
      height: 19px;
      background: url("../img/sprite.png") -170px -5px no-repeat;
      position: absolute;
      top: 2px;
      left: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .productInfo__avail::after {
      content: '';
      width: 19px;
      height: 19px;
      background: url("../img/sprite.png") -199px -5px no-repeat;
      position: absolute;
      top: 2px;
      left: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .productInfo__avail--in::before {
      content: '';
      opacity: 1; }
    .productInfo__avail--in::after {
      content: '';
      opacity: 0; }
    .productInfo__avail--out::before {
      content: '';
      opacity: 0; }
    .productInfo__avail--out::after {
      content: '';
      opacity: 1; }
  .productInfoOptions__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .productInfoOptions__title {
    color: #000;
    width: 100%;
    margin-bottom: 16px; }
  .productInfoOptions__option:not(:last-child) {
    margin-right: 20px; }
  .productInfo__tools {
    padding: 52px 40px 48px 40px;
    border: 1px solid rgba(117, 81, 57, 0.25);
    border-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .productInfo__price {
    margin-right: 80px; }
    .productInfo__price .preview__price--discount .preview__discount {
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 4px; }
    .productInfo__price .preview__price--discount .preview__total {
      font-size: 40px;
      font-weight: 700;
      line-height: 48px; }
  .productInfo__banner {
    margin-top: 29px;
    width: 100%;
    display: block; }
  .productInfo__buy {
    max-width: 227px;
    margin-right: 40px; }
  .productInfo__wish {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .productInfo__wish::before {
      content: '';
      margin-right: 16px; }
