html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-family: "Roboto";
  overflow-x: hidden;
  background: #F6F1ED;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #3A3A3C; }

img {
  max-width: 100%; }

button {
  font-family: "Roboto"; }

input, textarea {
  font-family: "Roboto"; }

a {
  text-decoration: none;
  color: #3A3A3C; }
  a:hover {
    text-decoration: underline; }

p {
  margin-bottom: 20px; }

hr {
  background: #755139;
  margin: 32px 0; }

textarea {
  width: 100%;
  height: 95px;
  resize: none; }

body.column {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  body.column .footer {
    margin-top: auto; }

.main {
  padding-bottom: 80px; }
  .main__heading {
    padding-top: 24px; }
    @media (max-width: 768px) {
      .main__heading {
        padding-top: 16px; } }
  .main--category {
    position: relative;
    overflow: hidden; }

.title {
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #3A3A3C; }
  @media (max-width: 768px) {
    .title {
      text-align: center;
      font-size: 24px; } }

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #3A3A3C; }

.heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #3A3A3C; }

.container {
  width: 1760px;
  max-width: 100%;
  margin: 0 auto; }
  @media (max-width: 1800px) {
    .container {
      width: 92%; } }

.btn {
  border: none;
  outline: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  cursor: pointer;
  color: #3A3A3C; }
  .btn--primary {
    background: #755139;
    padding: 18px 0;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .btn--primary:hover {
      -webkit-box-shadow: 0 20px 20px -20px #696969;
              box-shadow: 0 20px 20px -20px #696969;
      text-decoration: none; }
  .btn--dashed {
    border-bottom: 1px dashed #755139;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #755139;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .btn--dashed:hover {
      border-color: rgba(0, 0, 0, 0); }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social li:not(:last-child) {
    margin-right: 8px; }
    @media (max-width: 1199px) {
      .social li:not(:last-child) {
        margin-right: 4px; } }
    @media (max-width: 768px) {
      .social li:not(:last-child) {
        margin-right: 16px; } }
  .social li a {
    background: #3A3A3C;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .social li a::before {
      content: '';
      -webkit-filter: invert(1) brightness(2);
              filter: invert(1) brightness(2); }

.no_scroll {
  overflow-y: hidden;
  padding-right: 16px; }
  @media (max-width: 768px) {
    .no_scroll {
      padding-right: 0; } }

.clearfix::after {
  content: '';
  display: inline-block;
  clear: both; }

.input {
  width: 100%;
  min-height: 30px;
  border: none;
  border-bottom: 1px solid rgba(117, 81, 57, 0.25);
  padding: 0 0 0 8px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #3A3A3C; }
  .input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input::-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input:-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input--err {
    border-color: #D64B59;
    color: #D64B59; }
    .input--err::-webkit-input-placeholder {
      color: #D64B59; }
    .input--err::-moz-placeholder {
      color: #D64B59; }
    .input--err:-moz-placeholder {
      color: #D64B59; }
    .input--err:-ms-input-placeholder {
      color: #D64B59; }
  .input--ok {
    border-color: #006B38;
    color: #006B38; }
    .input--ok::-webkit-input-placeholder {
      color: #006B38; }
    .input--ok::-moz-placeholder {
      color: #006B38; }
    .input--ok:-moz-placeholder {
      color: #006B38; }
    .input--ok:-ms-input-placeholder {
      color: #006B38; }

.promocode {
  padding: 0 16px; }
  .promocode__def {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .promocode__add {
    width: 100%;
    position: relative;
    display: none; }
    .promocode__add input {
      width: calc(100% - 62px); }
    .promocode__add .btn {
      width: 30px;
      height: 30px;
      padding: 0;
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .promocode__result {
    width: 100%;
    display: none; }
    .promocode__result .modalCart__key {
      display: inline-block; }
    .promocode__result .modalCart__val {
      float: right; }

.quantly {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .quantly__minus {
    margin-right: 12px;
    font-size: 29px;
    font-weight: 300;
    color: #755139; }
  .quantly__plus {
    margin-left: 12px;
    font-size: 25px;
    font-weight: 300;
    color: #755139; }
  .quantly input {
    width: 32px;
    max-width: 32px;
    height: 32px;
    padding: 0;
    background: #fff;
    border: 1px solid rgba(117, 81, 57, 0.25);
    border-radius: 4px;
    text-align: center; }

.scroll::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  background: transparent; }

.scroll::-webkit-scrollbar-thumb {
  background: #755139; }

.heading {
  padding: 7px 0;
  background: #fff; }
  .heading--main {
    text-align: center; }
    .heading--main h1 {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: #000; }

.field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .field:not(:first-child) {
    margin-top: 42px; }
    @media (max-width: 768px) {
      .field:not(:first-child) {
        margin-top: 24px; } }
  .field label {
    margin-right: 12px;
    min-width: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
    @media (max-width: 768px) {
      .field label {
        display: none; } }
  .field .input {
    width: 271px; }
    @media (max-width: 768px) {
      .field .input {
        width: 100%;
        background: rgba(0, 0, 0, 0); } }

.checkbox {
  display: none; }
  .checkbox + label {
    padding-left: 33px;
    position: relative;
    cursor: pointer;
    line-height: 20px; }
    .checkbox + label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid rgba(117, 81, 57, 0.5);
      border-radius: 4px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      opacity: 1;
      background: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .checkbox + label::after {
      content: '';
      opacity: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/icons/checkbox.svg");
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .checkbox:checked {
    opacity: 2; }
    .checkbox:checked + label::before {
      content: '';
      opacity: 0; }
    .checkbox:checked + label::after {
      content: '';
      opacity: 1; }

.radio {
  display: none; }
  .radio + label {
    padding-left: 33px;
    position: relative;
    cursor: pointer;
    line-height: 24px;
    display: block;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .radio + label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid #755139;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      opacity: 1;
      background: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .radio + label::after {
      content: '';
      opacity: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: 6px;
      background: #755139;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .radio:checked + label::before {
    content: ''; }
  .radio:checked + label::after {
    content: '';
    opacity: 1; }
  .radio--disabled + label {
    color: #BEBEBE;
    pointer-events: none; }
    .radio--disabled + label::before {
      content: '';
      border-color: #BEBEBE; }

.products {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-gap: 56px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1199px) {
    .products {
      grid-template-columns: repeat(3, 29%);
      grid-gap: 20px; } }
  @media (max-width: 992px) {
    .products {
      grid-template-columns: repeat(2, 48%); } }
  @media (max-width: 500px) {
    .products {
      grid-template-columns: repeat(1, 100%);
      grid-gap: 37px; } }

.preview {
  width: 100%;
  max-width: 386px;
  position: relative; }
  @media (max-width: 500px) {
    .preview {
      margin: 0 auto; } }
  .preview__sticker {
    position: absolute;
    width: 82px;
    height: 66px;
    z-index: 1;
    top: -9px;
    left: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .preview__sticker::before {
      content: '';
      position: absolute;
      z-index: -1; }
  .preview__wish {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }
    .preview__wish::before {
      content: '';
      opacity: 1;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .preview__wish::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      width: 31px;
      height: 28px;
      background: url("../img/icons/heart_red.svg");
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .preview__wish--inwish::before {
      content: '';
      opacity: 0; }
    .preview__wish--inwish::after {
      content: '';
      opacity: 1; }
  .preview__thumb {
    margin-bottom: 7px;
    display: block; }
    .preview__thumb img {
      display: block;
      width: 100%;
      height: 268px;
      -o-object-fit: contain;
         object-fit: contain; }
  .preview__name {
    margin-bottom: 8px;
    display: block;
    height: 48px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
  .preview__dropdown {
    margin-bottom: 8px; }
  .preview__price {
    min-height: 50px;
    margin-bottom: 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; }
  .preview__discount {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #A2A2A2; }
  .preview__total {
    color: #D64B59; }

.dropdown {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }
  .dropdown__title {
    cursor: pointer;
    padding: 11px 40px 11px 8px;
    background: #fff;
    border: 1px solid #755139;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }
    .dropdown__title::after {
      content: '';
      position: absolute;
      width: 18px;
      height: 10px;
      background: url("../img/sprite.png") -142px -5px no-repeat;
      top: 16px;
      right: 19px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .dropdown__title--open::after {
      content: '';
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg);
      top: 14px; }
  .dropdown__list {
    display: none;
    border: 1px solid #755139;
    padding: 11px 19px 11px 8px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    z-index: 2; }
  .dropdown__row:not(:last-child) {
    margin-bottom: 8px; }
  .dropdown__row label {
    cursor: pointer; }
    .dropdown__row label:hover {
      text-decoration: underline; }
  .dropdown__row input {
    display: none; }
  .dropdown__row--active label {
    color: #755139;
    font-weight: 500; }

.seo {
  padding: 56px 0 20px 0;
  position: relative; }
  @media (max-width: 768px) {
    .seo {
      padding: 32px 0 20px 0; } }
  .seo__inner {
    max-height: 120px;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .seo__btn {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #755139; }
  .seo--open .seo__inner {
    max-height: 1500px; }
  .seo--inner .container {
    width: 100%; }

.breadcrumbs {
  padding: 11px 0; }
  .breadcrumbs ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .breadcrumbs__item {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: #000; }
    .breadcrumbs__item:not(:last-child) {
      padding-right: 9px;
      margin-right: 4px; }
      .breadcrumbs__item:not(:last-child)::after {
        content: '';
        content: '/';
        display: block;
        position: absolute;
        right: 0;
        top: 0; }
    .breadcrumbs__item a {
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
      color: #000; }

.banner {
  padding-top: 84px; }
  @media (max-width: 768px) {
    .banner {
      padding-top: 48px; } }
  .banner__inner {
    position: relative; }
  .banner__content {
    position: absolute;
    top: 50%;
    left: 200px;
    max-width: 435px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (max-width: 1400px) {
      .banner__content {
        max-width: 270px;
        left: 8%; } }
    @media (max-width: 768px) {
      .banner__content {
        max-width: 200px; } }
    @media (max-width: 500px) {
      .banner__content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        max-width: 100%;
        padding: 4%;
        background: -o-linear-gradient(89.92deg, #000000 -26.99%, rgba(0, 0, 0, 0) 99.92%);
        background: linear-gradient(0.08deg, #000000 -26.99%, rgba(0, 0, 0, 0) 99.92%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .banner__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    color: #000; }
    @media (max-width: 1400px) {
      .banner__title {
        font-size: 32px;
        line-height: 40px; } }
    @media (max-width: 1199px) {
      .banner__title {
        font-size: 24px;
        line-height: 30px; } }
    @media (max-width: 768px) {
      .banner__title {
        font-size: 16px;
        line-height: 20px; } }
    @media (max-width: 500px) {
      .banner__title {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: #fff; } }
  .banner__link {
    display: block;
    margin-top: 45px; }
    @media (max-width: 1199px) {
      .banner__link {
        margin-top: 25px; } }
    @media (max-width: 768px) {
      .banner__link {
        margin-top: 15px;
        font-size: 14px;
        padding: 8px 0; } }
    @media (max-width: 500px) {
      .banner__link {
        font-size: 18px;
        padding: 18px 0; } }
  .banner__back {
    width: 100%; }
    @media (max-width: 500px) {
      .banner__back--desc {
        display: none; } }
    .banner__back--mobile {
      display: none; }
      @media (max-width: 500px) {
        .banner__back--mobile {
          display: block;
          width: 100%; } }

.sidebar {
  width: 336px;
  position: relative; }
  @media (max-width: 992px) {
    .sidebar {
      width: 250px; } }
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      margin-bottom: 20px; } }

.content {
  padding-bottom: 40px; }

.inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 768px) {
    .inner {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  .inner .main {
    width: 100%;
    padding-bottom: 0; }
  .inner .category__sort {
    margin-left: auto; }
  .inner--sidebar .main {
    width: calc(100% - 336px - 106px); }
    @media (max-width: 1400px) {
      .inner--sidebar .main {
        width: calc(100% - 336px - 30px); } }
    @media (max-width: 992px) {
      .inner--sidebar .main {
        width: calc(100% - 250px - 30px); } }
    @media (max-width: 768px) {
      .inner--sidebar .main {
        width: 100%; } }
  .inner--sidebar .products {
    grid-template-columns: repeat(3, 1fr); }
    @media (max-width: 1199px) {
      .inner--sidebar .products {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 500px) {
      .inner--sidebar .products {
        grid-template-columns: repeat(1, 1fr); } }
  .inner--sidebar .category__sort {
    margin-left: 0; }

.listColored {
  width: 100%;
  max-width: 310px;
  min-width: 310px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000; }
  @media (max-width: 768px) {
    .listColored:not(:last-child) {
      margin-bottom: 24px; } }
  @media (max-width: 500px) {
    .listColored {
      min-width: 100%; } }
  .listColored__title {
    font-weight: 400;
    color: #755139;
    margin-bottom: 16px; }
  .listColored__list li {
    width: 100%;
    padding: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .listColored__list li:nth-child(odd) {
      background: #EDEDED; }

.loadMore {
  display: block;
  margin: 40px auto 0 auto;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #755139; }
  @media (max-width: 500px) {
    .loadMore {
      margin-top: 36px; } }

.pagination {
  padding: 16px 0 0 0; }
  .pagination ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .pagination ul li {
      margin-right: 16px; }
      .pagination ul li:nth-child(1n + 6) {
        display: none; }
      @media (max-width: 500px) {
        .pagination ul li {
          margin-right: 8px; } }
      .pagination ul li a {
        width: 40px;
        height: 40px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 4px;
        text-decoration: underline;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #242426;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
        .pagination ul li a:hover {
          border-color: #755139; }
  .pagination__delim {
    margin: 0 24px 0 8px !important;
    display: block !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #242426; }
    @media (max-width: 500px) {
      .pagination__delim {
        margin: 0 8px 0 0 !important; } }
    .pagination__delim + li {
      display: block !important; }
  .pagination__current a {
    background: #755139;
    color: #fff !important;
    text-decoration: none !important; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
