html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #3A3A3C;
  overflow-x: hidden;
  min-height: 200vh; }

img {
  max-width: 100%; }

input, textarea {
  font-family: "Roboto"; }

a {
  text-decoration: none;
  color: #3A3A3C; }
  a:hover {
    text-decoration: underline; }

.title {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #3A3A3C; }

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #3A3A3C; }

.heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #3A3A3C; }

.container {
  width: 1760px;
  max-width: 100%;
  margin: 0 auto; }

.btn {
  border: none;
  outline: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  padding: 0; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social li:not(:last-child) {
    margin-right: 8px; }
  .social li a {
    background: #3A3A3C;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .social li a::before {
      content: '';
      -webkit-filter: invert(1) brightness(2);
              filter: invert(1) brightness(2); }

.no_scroll {
  overflow-y: hidden;
  padding-right: 16px; }
