html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #3A3A3C;
  overflow-x: hidden;
  min-height: 2200vh;
  background: #F6F1ED; }

img {
  max-width: 100%; }

button {
  font-family: "Roboto"; }

input, textarea {
  font-family: "Roboto"; }

a {
  text-decoration: none;
  color: #3A3A3C; }
  a:hover {
    text-decoration: underline; }

.title {
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #3A3A3C; }
  @media (max-width: 500px) {
    .title {
      text-align: center; } }

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #3A3A3C; }

.heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #3A3A3C; }

.container {
  width: 1760px;
  max-width: 100%;
  margin: 0 auto; }
  @media (max-width: 1800px) {
    .container {
      width: 92%; } }

.btn {
  border: none;
  outline: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  cursor: pointer; }
  .btn--primary {
    background: #755139;
    padding: 18px 0;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .btn--primary:hover {
      -webkit-box-shadow: 0 20px 20px -20px #696969;
              box-shadow: 0 20px 20px -20px #696969;
      text-decoration: none; }
  .btn--dashed {
    border-bottom: 1px dashed #755139;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #755139;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .btn--dashed:hover {
      border-color: rgba(0, 0, 0, 0); }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social li:not(:last-child) {
    margin-right: 8px; }
    @media (max-width: 1199px) {
      .social li:not(:last-child) {
        margin-right: 4px; } }
  .social li a {
    background: #3A3A3C;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .social li a::before {
      content: '';
      -webkit-filter: invert(1) brightness(2);
              filter: invert(1) brightness(2); }

.no_scroll {
  overflow-y: hidden;
  padding-right: 16px; }
  @media (max-width: 768px) {
    .no_scroll {
      padding-right: 0; } }

.clearfix::after {
  content: '';
  display: inline-block;
  clear: both; }

.input {
  width: 100%;
  min-height: 30px;
  border: none;
  border-bottom: 1px solid rgba(117, 81, 57, 0.25);
  padding: 0 0 0 8px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #000; }
  .input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input::-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input:-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #9D9D9D; }
  .input--err {
    border-color: #D64B59; }
  .input--ok {
    border-color: #006B38; }

.promocode {
  padding: 0 16px; }
  .promocode__def {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .promocode__add {
    width: 100%;
    position: relative;
    display: none; }
    .promocode__add input {
      width: calc(100% - 62px); }
    .promocode__add .btn {
      width: 30px;
      height: 30px;
      padding: 0;
      font-size: 14px;
      position: absolute;
      top: 0;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .promocode__result {
    width: 100%;
    display: none; }
    .promocode__result .modalCart__key {
      display: inline-block; }
    .promocode__result .modalCart__val {
      float: right; }

.quantly {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .quantly__minus {
    margin-right: 12px;
    font-size: 29px;
    font-weight: 300;
    color: #755139; }
  .quantly__plus {
    margin-left: 12px;
    font-size: 25px;
    font-weight: 300;
    color: #755139; }
  .quantly input {
    width: 32px;
    height: 32px;
    padding: 0;
    background: #fff;
    border: 1px solid rgba(117, 81, 57, 0.25);
    border-radius: 4px;
    text-align: center; }

.scroll::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  background: transparent; }

.scroll::-webkit-scrollbar-thumb {
  background: #755139; }

.heading {
  padding: 7px 0;
  background: #fff; }
  .heading--main {
    text-align: center; }
    .heading--main h1 {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: #000; }

.field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .field:not(:first-child) {
    margin-top: 42px; }
    @media (max-width: 768px) {
      .field:not(:first-child) {
        margin-top: 24px; } }
  .field label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
    @media (max-width: 768px) {
      .field label {
        display: none; } }
  .field input {
    width: 271px; }
    @media (max-width: 768px) {
      .field input {
        width: 100%;
        background: rgba(0, 0, 0, 0); } }

.checkbox {
  display: none; }
  .checkbox + label {
    padding-left: 33px;
    position: relative;
    cursor: pointer;
    line-height: 20px; }
    .checkbox + label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid rgba(117, 81, 57, 0.5);
      border-radius: 4px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      opacity: 1;
      background: #fff;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .checkbox + label::after {
      content: '';
      opacity: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/icons/checkbox.svg");
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
  .checkbox:checked + label::before {
    content: '';
    opacity: 0; }
  .checkbox:checked + label::after {
    content: '';
    opacity: 1; }

.products {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-gap: 56px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1199px) {
    .products {
      grid-template-columns: repeat(3, 29%);
      grid-gap: 20px; } }
  @media (max-width: 992px) {
    .products {
      grid-template-columns: repeat(2, 48%); } }
  @media (max-width: 500px) {
    .products {
      grid-template-columns: repeat(1, 100%); } }

.preview {
  width: 100%;
  max-width: 386px;
  position: relative; }
  @media (max-width: 500px) {
    .preview {
      margin: 0 auto; } }
  .preview__sticker {
    position: absolute;
    width: 82px;
    height: 66px;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .preview__sticker::before {
      content: '';
      position: absolute;
      z-index: -1; }
  .preview__wish {
    position: absolute;
    top: 0;
    right: 0; }
    .preview__wish::before {
      content: '';
      opacity: 1;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .preview__wish::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      width: 31px;
      height: 28px;
      background: url("../img/icons/heart_red.svg");
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .preview__wish--inwish::before {
      content: '';
      opacity: 0; }
    .preview__wish--inwish::after {
      content: '';
      opacity: 1; }
  .preview__thumb {
    margin-bottom: 7px;
    display: block; }
    .preview__thumb img {
      display: block;
      width: 100%;
      height: 268px;
      -o-object-fit: contain;
         object-fit: contain; }
  .preview__name {
    margin-bottom: 8px;
    display: block;
    height: 48px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
  .preview__dropdown {
    margin-bottom: 8px; }
  .preview__price {
    min-height: 46px;
    margin-bottom: 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; }
  .preview__discount {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #A2A2A2; }
  .preview__total {
    color: #D64B59; }

.dropdown {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }
  .dropdown__title {
    cursor: pointer;
    padding: 11px 40px 11px 8px;
    background: #fff;
    border: 1px solid #755139;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }
    .dropdown__title::after {
      content: '';
      position: absolute;
      width: 18px;
      height: 10px;
      background: url("../img/sprite.png") -142px -5px no-repeat;
      top: 16px;
      right: 19px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .dropdown__title--open::after {
      content: '';
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg);
      top: 14px; }
  .dropdown__list {
    display: none;
    border: 1px solid #755139;
    padding: 11px 19px 11px 8px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0; }
  .dropdown__row:not(:last-child) {
    margin-bottom: 8px; }
  .dropdown__row label {
    cursor: pointer; }
    .dropdown__row label:hover {
      text-decoration: underline; }
  .dropdown__row input {
    display: none; }
