/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-300.eot");
  src: local(""), url("../fonts/roboto/roboto-v20-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-300.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-300.svg#Roboto") format("svg"); }

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg"); }

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  src: local(""), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg"); }

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:target, *:focus, *:active {
    border: none;
    outline: none; }

body {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #3A3A3C;
  overflow-x: hidden;
  min-height: 200vh; }

img {
  max-width: 100%; }

input, textarea {
  font-family: "Roboto"; }

a {
  text-decoration: none;
  color: #3A3A3C; }
  a:hover {
    text-decoration: underline; }

.title {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #3A3A3C; }

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #3A3A3C; }

.heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #3A3A3C; }

.container {
  width: 1760px;
  max-width: 100%;
  margin: 0 auto; }

.btn {
  border: none;
  outline: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  padding: 0; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social li:not(:last-child) {
    margin-right: 8px; }
  .social li a {
    background: #3A3A3C;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .social li a::before {
      content: '';
      -webkit-filter: invert(1) brightness(2);
              filter: invert(1) brightness(2); }

.no_scroll {
  overflow-y: hidden;
  padding-right: 16px; }

.ic_arrow::before {
  content: '';
  display: block;
  width: 18px;
  height: 10px;
  background: url("../img/sprite.png") -142px -5px no-repeat; }

.ic_cart::before {
  content: '';
  display: block;
  width: 25px;
  height: 23px;
  background: url("../img/sprite.png") -440px -5px no-repeat; }

.ic_checkbox::before {
  content: '';
  display: block;
  width: 11px;
  height: 8px;
  background: url("../img/sprite.png") -23px -5px no-repeat; }

.ic_clock::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -257px -5px no-repeat; }

.ic_comment::before {
  content: '';
  display: block;
  width: 25px;
  height: 28px;
  background: url("../img/sprite.png") -475px -5px no-repeat; }

.ic_discount::before {
  content: '';
  display: block;
  width: 82px;
  height: 66px;
  background: url("../img/sprite.png") -592px -5px no-repeat; }

.ic_facebook::before {
  content: '';
  display: block;
  width: 8px;
  height: 17px;
  background: url("../img/sprite.png") -5px -5px no-repeat; }

.ic_heart::before {
  content: '';
  display: block;
  width: 31px;
  height: 28px;
  background: url("../img/sprite.png") -510px -5px no-repeat; }

.ic_heart_red::before {
  content: '';
  display: block;
  width: 31px;
  height: 28px;
  background: url("../img/sprite.png") -551px -5px no-repeat; }

.ic_instagram::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/sprite.png") -44px -5px no-repeat; }

.ic_mail::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -287px -5px no-repeat; }

.ic_map::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -317px -5px no-repeat; }

.ic_marker::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -347px -5px no-repeat; }

.ic_mobile::before {
  content: '';
  display: block;
  width: 14px;
  height: 20px;
  background: url("../img/sprite.png") -68px -5px no-repeat; }

.ic_mobile2::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -377px -5px no-repeat; }

.ic_phone::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") -116px -5px no-repeat; }

.ic_radio_checked::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") -170px -5px no-repeat; }

.ic_redio_not_checked::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") -199px -5px no-repeat; }

.ic_search::before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url("../img/sprite.png") -407px -5px no-repeat; }

.ic_telegram::before {
  content: '';
  display: block;
  width: 14px;
  height: 12px;
  background: url("../img/sprite.png") -92px -5px no-repeat; }

.ic_user::before {
  content: '';
  display: block;
  width: 19px;
  height: 23px;
  background: url("../img/sprite.png") -228px -5px no-repeat; }

.ic_heart_small::before {
  content: '';
  display: block;
  width: 24px;
  height: 22px;
  background: url("../img/icons/heart_small.svg"); }

.ic_close::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/icons/close.svg"); }

.ic_trash::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/trash.svg"); }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .modal--open {
    opacity: 1;
    pointer-events: auto; }
  .modal__win {
    width: 100%;
    max-width: 674px; }
  .modal--right .modal__win {
    max-width: 415px;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
  .modal--right .modal__close {
    position: absolute;
    top: 34px;
    right: 18px; }
  .modalCart--open .modal__win {
    right: 0; }
  .modalCart__title {
    padding: 20px 0 0 32px;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px; }
  .modalCart__items {
    max-height: 463px;
    overflow: auto; }
  .modalCart__item {
    padding: 16px 11px 18px 11px;
    position: relative;
    border-bottom: 1px solid rgba(117, 81, 57, 0.25);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .modalCart__remove {
    position: absolute;
    top: 16px;
    right: 11px; }
  .modalCart__thumb img {
    width: 118px;
    height: 118px;
    -o-object-fit: contain;
       object-fit: contain; }
  .modalCart__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
  .modalCart__info {
    margin-top: auto; }

.cat_link a, .dog_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .cat_link a::before, .dog_link a::before {
    content: '';
    display: block;
    width: 28px;
    height: 24px;
    background-size: contain;
    margin-right: 8px; }

.cat_link a::before {
  content: '';
  background-image: url("../img/icons/cat.svg"); }

.cat_link:hover a::before {
  content: '';
  background-image: url("../img/icons/cat_fill.svg"); }

.dog_link a::before {
  content: '';
  background-image: url("../img/icons/dog.svg"); }

.dog_link a:hover::before {
  content: '';
  background-image: url("../img/icons/dog_fill.svg"); }

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background: #F6F1ED;
  padding-bottom: 46px;
  z-index: -1;
  padding-top: 27px;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .submenu__col {
    padding-left: 24px;
    border-left: 1px solid #AEAEAE; }
    .submenu__col:not(:last-child) {
      margin-right: 40px; }
  .submenu__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000; }
  .submenu__list {
    padding-top: 24px; }
    .submenu__list li:not(:last-child) {
      margin-bottom: 16px; }
    .submenu__list li a {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #000; }
      .submenu__list li a:hover {
        text-decoration: underline; }

.header__toolbar {
  background: #fff;
  position: relative;
  z-index: 2; }
  .header__toolbar .container {
    background: #fff;
    padding: 7px 0 9px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.header__numbers {
  margin-left: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__numbers::before {
    content: '';
    margin-right: 8px; }
  .header__numbers li:not(:last-child) {
    margin-right: 16px; }
  .header__numbers li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }

.header__links {
  margin-left: auto; }
  .header__links ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__links ul li:not(:last-child) {
      margin-right: 32px; }
    .header__links ul li a {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; }

.header__langs {
  margin-left: 106px; }
  .header__langs button {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #3A3A3C; }
    .header__langs button:hover {
      text-decoration: underline; }
  .header__langs .header__langsActive {
    color: #fff;
    padding: 0 8px;
    background: #755139; }

.header__inner {
  position: relative;
  z-index: 1;
  background: #F6F1ED; }
  .header__inner .container {
    background: #F6F1ED;
    padding: 7px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.header__menu > ul {
  height: 80px;
  margin: -7px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__menu > ul > li {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__menu > ul > li:not(:last-child) {
      margin-right: 48px; }
    .header__menu > ul > li:hover > .submenu {
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      opacity: 1; }
    .header__menu > ul > li:hover > a {
      text-decoration: none;
      color: #755139; }
      .header__menu > ul > li:hover > a::after {
        content: '';
        background: #755139; }
    .header__menu > ul > li > a {
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #3A3A3C; }
      .header__menu > ul > li > a::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16px;
        height: 1px;
        background: rgba(0, 0, 0, 0); }

.header__tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__tools li:not(:last-child) {
    margin-right: 32px; }
