@import "var.sass"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	vertical-align: baseline
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
	display: block
ol, ul 
	list-style: none
blockquote, q 
	quotes: none
blockquote:before, blockquote:after,
q:before, q:after 
	content: ''
	content: none
table 
	border-collapse: collapse
	border-spacing: 0
* 
	box-sizing: border-box
	&:target, &:focus, &:active 
		border: none
		outline: none
article
	~
body
	font-family: $ff
	overflow-x: hidden
	background: $prim_color
	+text($fz,$fw,24,$text_color)
img
	max-width: 100%
button
	font-family: $ff

input, textarea
	font-family: $ff

a
	text-decoration: none
	color: $text_color
	+hover
		text-decoration: underline

p
	margin-bottom: 20px

hr
	background: $btn_color
	margin: 32px 0

textarea
	width: 100%
	height: 95px
	resize: none

body.column
	min-height: 100vh
	+flex(column,0,0,0)
	.footer
		margin-top: auto
.main
	padding-bottom: 80px
	&__heading
		padding-top: 24px
		+xs
			padding-top: 16px
	&--category
		position: relative
		overflow: hidden

.title
	margin-bottom: 35px
	+text(32,300,40,$text_color)
	+xs
		text-align: center
		font-size: 24px
.subtitle
	+text(18,400,24,$text_color)
.heading
	+text(24,500,32,$text_color)

.container
	width: $container
	max-width: 100%
	margin: 0 auto
	+break(1800)
		width: 92%

.btn
	border: none
	outline: none
	border-radius: 0
	background: $transparent
	padding: 0
	cursor: pointer
	color: $text_color
	&--primary
		background: $btn_color
		padding: 18px 0
		width: 100%
		text-align: center
		border-radius: 4px
		+text(18,400,24,#fff)
		+tran(all,.4s)
		+hover
			box-shadow: 0 20px 20px -20px #696969
			text-decoration: none
	&--dashed
		border-bottom: 1px dashed $btn_color
		+text(14,300,18,$btn_color)
		+tran(all,.3s)
		+hover
			border-color: $transparent

.social
	+flex(0,0,flex-start,center)
	li
		&:not(:last-child)
			margin-right: 8px
			+md
				margin-right: 4px
			+xs
				margin-right: 16px
		a
			background: $text_color
			border-radius: 50%
			width: 24px
			height: 24px
			+flex(0,0,center,center)
			+before
				filter: invert(1) brightness(2)

.no_scroll
	overflow-y: hidden
	padding-right: 16px
	+xs
		padding-right: 0

.clearfix
	+after
		display: inline-block
		clear: both

.input
	width: 100%
	min-height: 30px
	border: none
	border-bottom: 1px solid rgba(117, 81, 57, 0.25)
	padding: 0 0 0 8px
	+tran(all,.4s)
	+text(14,500,24,#000)
	&::-webkit-input-placeholder
		+text(14,400,18,$placeholder_color)
	&::-moz-placeholder
		+text(14,400,18,$placeholder_color)
	&:-moz-placeholder
		+text(14,400,18,$placeholder_color)
	&:-ms-input-placeholder
		+text(14,400,18,$placeholder_color)
	&--err
		border-color: #D64B59
	&--ok
		border-color: #006B38

.promocode
	padding: 0 16px
	&__def
		width: 100%
		+flex(0,0,space-between,center)
		//display: none
	&__add
		width: 100%
		position: relative
		display: none
		input
			width: calc(100% - 62px)
		.btn
			width: 30px
			height: 30px
			padding: 0
			font-size: 14px
			position: absolute
			top: 0
			right: 0
			+flex(0,0,center,center)
	&__result
		width: 100%
		display: none
		.modalCart__key
			display: inline-block
		.modalCart__val
			float: right

.quantly
	+flex(0,0,flex-start,center)
	&__minus
		margin-right: 12px
		+text(29,300,0,$btn_color)
	&__plus
		margin-left: 12px
		+text(25,300,0,$btn_color)
	input
		width: 32px
		height: 32px
		padding: 0
		background: #fff
		border: 1px solid rgba(117, 81, 57, 0.25)
		border-radius: 4px
		text-align: center

.scroll
	&::-webkit-scrollbar
		width: 2px
		height: 3px
		background: transparent
	&::-webkit-scrollbar-thumb
		background: $btn_color

.heading
	padding: 7px 0
	background: #fff
	&--main
		text-align: center
		h1
			+text(14,300,24,#000)

.field
	+flex(0,0,space-between,center)
	&:not(:first-child)
		margin-top: 42px
		+xs
			margin-top: 24px
	label
		margin-right: 12px
		min-width: 100px
		+text(14,400,18,0)
		+xs
			display: none
	.input
		width: 271px
		+xs
			width: 100%
			background: $transparent

.checkbox
	display: none
	+ label
		padding-left: 33px
		position: relative
		cursor: pointer
		line-height: 20px
		+before
			position: absolute
			top: 0
			left: 0
			width: 20px
			height: 20px
			border: 2px solid rgba(117, 81, 57, 0.5)
			border-radius: 4px
			box-sizing: border-box
			opacity: 1
			background: #fff
			+tran(all,.2s)
		+after
			opacity: 0
			width: 20px
			height: 20px
			position: absolute
			top: 0
			left: 0
			background: url('../img/icons/checkbox.svg')
			+tran(all,.2s)
	&:checked
		opacity: 2
		+ label
			+before
				opacity: 0
			+after
				opacity: 1

.radio
	display: none
	+ label
		padding-left: 33px
		position: relative
		cursor: pointer
		line-height: 24px
		display: block
		+before
			position: absolute
			top: 0
			left: 0
			width: 24px
			height: 24px
			border: 1px solid $btn_color
			border-radius: 50%
			box-sizing: border-box
			opacity: 1
			background: #fff
			+tran(all,.2s)
		+after
			opacity: 0
			width: 12px
			height: 12px
			border-radius: 50%
			position: absolute
			top: 6px
			left: 6px
			background: $btn_color
			+tran(all,.2s)
	&:checked 
		+ label
			+before
			+after
				opacity: 1
	&--disabled
		+ label
			color: #BEBEBE
			pointer-events: none
			+before
				border-color: #BEBEBE



.products
	display: grid
	grid-template-columns: repeat(4,22%)
	grid-gap: 56px
	justify-content: space-between
	+md
		grid-template-columns: repeat(3, 29%)
		grid-gap: 20px
	+sm
		grid-template-columns: repeat(2, 48%)
	+xxs
		grid-template-columns: repeat(1, 100%)
		grid-gap: 37px

.preview
	width: 100%
	max-width: 386px
	position: relative
	+xxs
		margin: 0 auto
	&__sticker
		position: absolute
		width: 82px
		height: 66px
		z-index: 1
		top: -9px
		left: 0
		+text(24,700,18,0)
		+flex(0,0,center,center)
		+before
			position: absolute
			z-index: -1
	&__wish
		position: absolute
		top: 0
		right: 0
		z-index: 1
		+before
			opacity: 1
			+tran(all,.2s)
		+after
			position: absolute
			top: 0
			right: 0
			opacity: 0
			width: 31px
			height: 28px
			background: url('../img/icons/heart_red.svg')
			+tran(all,.2s)
		&--inwish
			+before
				opacity: 0
			+after
				opacity: 1
	&__thumb
		margin-bottom: 7px
		display: block
		img
			display: block
			width: 100%
			height: 268px
			object-fit: contain
	&__name
		margin-bottom: 8px
		display: block
		height: 48px
		overflow: hidden
		text-overflow: ellipsis
		+text(18,400,24,0)
	&__dropdown
		margin-bottom: 8px
	&__price
		min-height: 50px
		margin-bottom: 19px
		+flex(column,0,center,0)
		+text(24,500,32,0)
	&__discount
		text-decoration: line-through
		+text(14,400,16,#A2A2A2)
	&__total
		color: #D64B59	
	&__buy



.dropdown
	position: relative
	z-index: 2
	+text(14,400,18,0)
	&__title
		cursor: pointer
		padding: 11px 40px 11px 8px
		background: #fff
		border: 1px solid $btn_color
		border-radius: 4px
		position: relative
		z-index: 1
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		+after
			position: absolute
			width: 18px
			height: 10px
			background: url("../img/sprite.png") -142px -5px no-repeat
			top: 16px
			right: 19px
			+tran(all,.3s)
		&--open
			+after
				transform: rotate(-180deg)
				top: 14px
	&__list
		display: none
		border: 1px solid $btn_color
		padding: 11px 19px 11px 8px
		border-radius: 4px
		background: #fff
		position: absolute
		top: calc(100% - 5px)
		left: 0
		right: 0
		z-index: 2
	&__checked
	&__row
		&:not(:last-child)
			margin-bottom: 8px
		label
			cursor: pointer
			+hover
				text-decoration: underline
		input
			display: none
		&--active
			label
				color: #755139
				font-weight: 500

.seo
	padding: 56px 0 20px 0
	position: relative
	+xs
		padding: 32px 0 20px 0
	&__inner
		max-height: 120px
		overflow: hidden
		+tran(all,.4s)
	&__btn
		display: block
		margin: 0 auto
		+text(16,300,24,$btn_color)
	&--open
		.seo__inner
			max-height: 1500px
	&--inner
		.container
			width: 100%


.breadcrumbs
	padding: 11px 0
	ul
		+flex(0,wrap,flex-start,center)
	&__item
		position: relative
		+text(12,300,16,#000)
		&:not(:last-child)
			padding-right: 9px
			margin-right: 4px
			+after
				content: '/'
				display: block
				position: absolute
				right: 0
				top: 0
		a
			+text(12,300,16,#000)
	&__start
	&__link
	&__end


.banner
	padding-top: 84px
	+xs
		padding-top: 48px
	&__inner
		position: relative
	&__content
		position: absolute
		top: 50%
		left: 200px
		max-width: 435px
		transform: translateY(-50%)
		+break(1400)
			max-width: 270px
			left: 8%
		+xs
			max-width: 200px
		+xxs
			left: 0
			right: 0
			top: 0
			bottom: 0
			transform: none
			max-width: 100%
			padding: 4%
			background: linear-gradient(0.08deg, #000000 -26.99%, rgba(0, 0, 0, 0) 99.92%)
			+flex(column,0,flex-end,center)
	&__title
		+text(48,500,54,#000)
		+break(1400)
			+text(32,0,40,0)
		+md
			+text(24,0,30,0)
		+xs
			+text(16,0,20,0)
		+xxs
			text-align: center
			+text(24,0,32,#fff)
	&__link
		display: block
		margin-top: 45px
		+md
			margin-top: 25px
		+xs
			margin-top: 15px
			font-size: 14px
			padding: 8px 0
		+xxs
			font-size: 18px
			padding: 18px 0
	&__back
		width: 100%
		&--desc
			+xxs
				display: none
		&--mobile
			display: none
			+xxs
				display: block
				width: 100%

.sidebar
	width: $sidebar_width
	position: relative
	+sm
		width: 250px
	+xs
		width: 100%
		margin-bottom: 20px

.content
	padding-bottom: 40px

.inner
	+flex(0,0,space-between,flex-start)
	+xs
		flex-wrap: wrap
	.main
		width: 100%
		padding-bottom: 0
	.category__sort
		margin-left: auto
	&--sidebar
		.main
			width: calc(100% - #{$sidebar_width} - 106px)
			+break(1400)
				width: calc(100% - #{$sidebar_width} - 30px)
			+sm
				width: calc(100% - 250px - 30px)
			+xs
				width: 100%
		.products
			grid-template-columns: repeat(3, 1fr)
			+md
				grid-template-columns: repeat(2, 1fr)
			+xxs
				grid-template-columns: repeat(1, 1fr)
		.category__sort
			margin-left: 0

.listColored
	width: 100%
	max-width: 310px
	min-width: 310px
	+text(16,300,24,#000)
	&__title
		font-weight: 400
		color: $btn_color
		margin-bottom: 16px
	&__list
		li
			width: 100%
			padding: 8px
			+flex(0,0,space-between,center)
			&:nth-child(odd)
				background: #EDEDED
			span

@keyframes fadeIn
	from
		opacity: 0
	to
		opacity: 1