@import "var.sass"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	vertical-align: baseline
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
	display: block
ol, ul 
	list-style: none
blockquote, q 
	quotes: none
blockquote:before, blockquote:after,
q:before, q:after 
	content: ''
	content: none
table 
	border-collapse: collapse
	border-spacing: 0
* 
	box-sizing: border-box
	&:target, &:focus, &:active 
		border: none
		outline: none
article
	~
body
	font-family: $ff
	font-weight: $fw
	font-size: $fz
	color: $text_color
	overflow-x: hidden
	min-height: 200vh
img
	max-width: 100%

input, textarea
	font-family: $ff

a
	text-decoration: none
	color: $text_color
	+hover
		text-decoration: underline

.title
	+text(32,300,40,$text_color)
.subtitle
	+text(18,400,24,$text_color)
.heading
	+text(24,500,32,$text_color)

.container
	width: $container
	max-width: 100%
	margin: 0 auto

.btn
	border: none
	outline: none
	border-radius: 0
	background: $transparent
	padding: 0

.social
	+flex(0,0,flex-start,center)
	li
		&:not(:last-child)
			margin-right: 8px
		a
			background: $text_color
			border-radius: 50%
			width: 24px
			height: 24px
			+flex(0,0,center,center)
			+before
				filter: invert(1) brightness(2)