$ff: 'Roboto'
$fz: 16
$fw: 300
$prim_color: #F6F1ED
$btn_color: #755139
$btn_cat_color: #006B38
$placeholder_color: #9D9D9D
$transparent: rgba(0,0,0,0)
$text_color: #3A3A3C
$container: 1760px
$m_toolbar: #202123
$sidebar_width: 336px
$sidebar_color: rgba(117, 81, 57, .15)

$product_content_size_full: calc(100% - 532px - 205px)
$product_content_size_medium: calc(100% - 450px - 50px)
$product_content_size_medium_checkout: calc(100% - 320px - 25px)


@mixin flex($dir: 0, $wrap: 0, $just: 0, $align: 0)
  display: flex
  @if $dir != 0 
    flex-direction: $dir
  @if $wrap != 0 
    flex-wrap: $wrap
  @if $just != 0 
    justify-content: $just
  @if $align != 0 
    align-items: $align

@mixin text($size: 0, $weight: 0, $line: 0, $color: 0)
  @if $size != 0 
    font-size: $size+px
  @if $weight != 0 
    font-weight: $weight
  @if $line != 0 
    line-height: $line+px
  @if $color != 0 
    color: $color

@mixin icon($w,$h,$pos)
	content: ''
	display: block
	width: $w+px
	height: $h+px
	background: url('../img/sprite.png') $pos -5px no-repeat

@mixin lg
  @media (min-width: 1200px)
  	@content
@mixin md
  @media (max-width: 1199px)
  	@content
@mixin sm
  @media (max-width: 992px)
  	@content
@mixin xs
  @media (max-width: 768px)
  	@content
@mixin xxs
  @media (max-width: 500px)
  	@content
@mixin break($break)
  @media (max-width: $break+'px')
  	@content


@mixin before
  &::before
  	content: ''
  	@content
@mixin after
  &::after
  	content: ''
  	@content
@mixin hover
  &:hover
  	@content
@mixin first
  &:first-child
    @content
@mixin last
  &:last-child
    @content

@mixin tran($on, $time)
	transition: $on $time


