@import "../var.sass"



.slideshow
	max-height: 772px
	overflow: hidden
	+xxs
		margin-top: 16px
	img
		width: 100%
	.slick-prev
		left: 13px
		z-index: 1
		width: 40px
		height: 40px
		border-radius: 50%
		background: $btn_color
		+flex(0,0,center,center)
		+tran(all,.2s)
		+before
			background: url('../img/icons/arrow_slider.svg') no-repeat
			width: 20px
			height: 12px
			display: block
			opacity: 1
		+hover
			opacity: .8
		+xxs
			display: none !important
	.slick-next
		right: 13px
		z-index: 1
		width: 40px
		height: 40px
		border-radius: 50%
		background: $btn_color
		opacity: 1
		+flex(0,0,center,center)
		+tran(all,.2s)
		+before
			background: url('../img/icons/arrow_slider.svg') no-repeat
			width: 20px
			height: 12px
			display: block
			transform: rotate(180deg)
			opacity: 1
		+hover
			opacity: .8
		+xxs
			display: none !important
	.slick-dots
		bottom: 27px
		li
			width: auto
			height: auto
			margin: 0 0 0 0
			&:not(:last-child)
				margin-right: 4px
			button
				opacity: 1
				display: block
				padding: 0
				background: $transparent
				border: 1px solid $btn_color
				width: 8px
				height: 8px
				border-radius: 50%
				+before
					display: none
			&.slick-active
				button
					background: $btn_color
	&__bannerD
		+xxs
			display: none !important
	&__bannerM
		display: none !important
		+xxs
			display: block !important
			width: 100%

.slideshow.slick-slider
	max-height: unset


.categories
	padding-top: 30px
	+xs
		padding-top: 2px
	&__list
		display: grid
		grid-template-columns: repeat(3,360px)
		grid-gap: 40px 80px
		justify-content: center
		+break(1400)
			grid-gap: 40px
			grid-template-columns: repeat(3,310px)
		+md
			grid-gap: 25px
			grid-template-columns: repeat(3,250px)
		+sm
			grid-template-columns: repeat(3,210px)
		+xs
			grid-template-columns: repeat(2,48%)
			justify-content: space-between
		+xxs
			grid-template-columns: repeat(1,100%)
			grid-gap: 16px
	&__name
		position: absolute
		top: 27px
		left: 0
		right: 0
		text-align: center
		+text(25,400,24,$btn_color)
		+sm
			font-size: 18px
		+xs
			position: static
			margin-bottom: 8px
			font-size: 24px
	&__item
		position: relative
		overflow: hidden
		width: 360px
		height: 360px
		width: 100%
		color: #000000
		text-align: center
		perspective: 50em
		padding: 62px
		background: #fff
		+flex(0,0,center,center)
		+break(1400)
			height: 310px
		+md
			height: 250px
		+sm
			height: 210px
		+xs
			height: 100%
		+xs	
			flex-direction: column
			justify-content: space-between
			padding: 24px 16px 16px 16px
		figcaption
			top: 50%
			left: 20px
			right: 20px
			position: absolute
			opacity: 0
			z-index: 1
			padding: 0 10px
			+xs
				position: static
				opacity: 1
				width: 100%
		h4
			font-weight: 400
			text-transform: uppercase
		i
			font-size: 32px
		&:after
			background-color: #f6f1ed
			position: absolute
			content: ""
			display: block
			top: 20px
			left: 20px
			right: 20px
			bottom: 20px
			transition: all 0.4s ease-in-out
			transform: rotateX(-90deg)
			transform-origin: 50% 50%
			opacity: 0
		a
			left: 0
			right: 0
			top: 0
			bottom: 0
			position: absolute
			z-index: 1
		&:hover figcaption, &.hover figcaption
			transform: translateY(-50%)
			opacity: 1
			transition-delay: 0.2s
			+xs
				transform: none
		&:hover:after, &.hover:after
			transform: rotateX(0)
			opacity: 0.9
			+xs
				display: none
		img
			+xs
				max-width: 160px
				max-height: 160px
				object-fit: contain
	&__link
		width: 100%
		height: 48px
		font-size: 18px
		color: #FFFFFF
		font-weight: 400
		background: #755139
		text-align: center
		display: flex
		justify-content: center
		align-items: center
		border-radius: 4px
	&__text
		color: #000000
		font-size: 18px
		font-weight: 300
		line-height: 24px
		+xxs
			margin-bottom: 24px

.category
	.products
		padding-top: 33px
	&--dog
		.slideshow--cat
			display: none
	&--cat
		.slideshow
			.slick-prev, .slick-next
				background: $btn_cat_color
			.slick-dots
				bottom: 27px
			li
				button
					border: 1px solid $btn_cat_color
				&.slick-active
					button
						background: $btn_cat_color
			&--dog
				display: none
		.brands
			li
				&.slick-active
					button
						+before
							content: '•'
							color: $btn_cat_color
		.btn--primary
			background: $btn_cat_color
		.categories__name
			color: $btn_cat_color
		.categories__link
			background: $btn_cat_color
	&__items
		padding: 0 85px 80px 85px
		margin-bottom: 62px
		position: relative
		+flex(0,0,space-between,flex-start)
		+after
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 1px
			background: linear-gradient(to right, $transparent, rgba(0,0,0,.5), $transparent)
			max-width: 941px
			margin: 0 auto
	&__item
		+flex(column,0,0,center)
		+hover
			text-decoration: none
	&__thumb
		max-width: 234px
		max-height: 234px
		object-fit: contain
	&__name
		margin-top: 16px
		+text(24,400,24,0)
	&__sort
		max-width: 272px
		.dropdown__title
			padding: 4px 40px 4px 8px
			+after
				top: 9px