@import "../var.sass"


.cat_link a, .dog_link a
	+flex(0,0,flex-start,center)
	+before
		display: block
		width: 28px
		height: 24px
		background-size: contain
		margin-right: 8px

.cat_link
	a
	 +before
		 background-image: url('../img/icons/cat.svg')
	+hover
		a
			+before
				background-image: url('../img/icons/cat_fill.svg')
.dog_link
	a
		+before
			background-image: url('../img/icons/dog.svg')
		+hover
			+before
				background-image: url('../img/icons/dog_fill.svg')

.submenu
	position: absolute
	top: 100%
	left: 0
	right: 0
	z-index: -1
	background: $prim_color
	padding-bottom: 46px
	z-index: -1
	padding-top: 27px
	transform: translateY(-200%)
	+tran(all,.8s)
	+flex(0,0,center,flex-start)
	+xs
		position: static
		transform: none
		width: 100vw
		padding: 8px 0
		margin-top: 8px
		background: #fff
		display: none
	&__col
		padding-left: 24px
		border-left: 1px solid #AEAEAE
		+xs
			border: none
			margin: 0
			padding: 0
		&:not(:last-child)
			margin-right: 40px
			margin-right: 0
	&__title
		+text(18,400,24,#000)
		+xs
			margin-bottom: 8px
	&__list
		padding-top: 24px
		+xs
			display: none
			padding: 8px 0 16px 0
			position: relative
			+before
				position: absolute
				top: 0
				bottom: 0
				left: 4%
				width: 1px
				background: #AEAEAE
		li
			&:not(:last-child)
				margin-bottom: 16px
				+xs
					margin-bottom: 8px
			a
				+text(16,300,24,#000)
				+hover
					text-decoration: underline

.header
	position: relative
	z-index: 1
	&__toolbar
		background: #fff
		position: relative
		z-index: 2
		+xs
			position: static
			background: $m_toolbar
			margin-bottom: 54px
		.container
			background: #fff
			padding: 7px 0 9px 0
			+flex(0,0,flex-start,center)
			+xs
				background: $m_toolbar
				padding: 16px 0
				position: relative
	&__social
		+sm
			display: none
		li
			a
	&__numbers
		margin-left: 36px
		+flex(0,0,flex-start,center)
		+before
			margin-right: 8px
			+xs
				margin-right: 10px
		+md
			margin-left: 20px
		+sm
			margin-left: 0
		+xs
			position: absolute
			top: 72px
			left: 0
			right: 0
			justify-content: center
		li
			&:not(:last-child)
				margin-right: 16px
				+md
					margin-right: 8px
				+xs
					margin-right: 7px
			a
				+text(14,400,18,0)
				+md
					font-size: 12px
				+xs
					white-space: nowrap
					+text(16,300,24,0)
		&--m			
			position: relative
			margin: 16px auto
			top: 0
			right: 0
			padding-left: 33px
			+flex(column,0,0,center)
			display: none
			+before
				position: absolute
				top: 0
				left: 0
			li
				margin-right: 0 !important
			+xs
				display: flex
	&__links
		margin-left: auto
		+xs
			display: none
		ul
			+flex(0,0,flex-start,center)
			li
				&:not(:last-child)
					margin-right: 32px
					+break(1400)
						margin-right: 10px
					+md
						margin-right: 5px
				a
					+text(14,400,18,0)
					+md
						font-size: 12px
		&--m
			display: none
			+xs
				display: block				
				background: #fff
				margin-top: 24px
				margin-left: -4%
				width: 100vw
			ul
				width: 100vw
				padding: 8px 0
				+flex(column,0,0,center)
				li
					&:not(:last-child)
						margin-bottom: 8px
					a
						font-size: 14px
	&__langs
		margin-left: 106px
		+break(1400)
			margin-left: 50px
		+md
			margin-left: 30px
		+xs
			display: none
		button
			+text(14,400,18,$text_color)
			+hover
				text-decoration: underline
			+md
				font-size: 12px
		.header__langsActive
			color: #fff
			padding: 0 8px
			background: $btn_color
		&--m
			display: none
			+xs
				+flex(column,0,0,0)
			button
				text-transform: uppercase
				+text(18,300,24,0)
	&__inner
		position: relative
		z-index: 1
		background: $prim_color
		+xs
			position: static
		.container
			background: $prim_color
			padding: 7px 0
			+flex(0,0,space-between,center)
			+xs
				padding: 0
		&Wrap
			width: 100%
			+flex(0,0,flex-start,center)
			+xs
				opacity: 0
				max-height: 0
				overflow: hidden
				flex-wrap: wrap
				justify-content: space-between
				position: absolute
				top: calc(56px + 16px)
				left: 0
				right: 0
				background: $prim_color
				padding: 0 4%
				+tran(all,.4s)
			&--open
				+xs
					opacity: 1
					max-height: 9999px
	&__logo
		+sm
			max-width: 140px
		+xs
			max-width: 188px
		img
			display: block
	&__menu
		margin: 0 auto
		// position: absolute
		// top: 50%
		// left: 50%
		// transform: translate(-50%,-50%)
		+xs
			width: 100%
			padding-top: 24px
			margin-top: 16px
			border-top: 1px solid $btn_color
		> ul
			height: 80px
			margin: -7px 0
			+flex(0,0,flex-start,center)
			+xs
				height: auto
				flex-direction: column
				margin: 0
			> li
				height: 100%
				+flex(0,0,center,center)
				+xs
					height: auto
					display: block
					text-align: center
				&:not(:last-child)
					margin-right: 48px
					+break(1400)
						margin-right: 25px
					+sm
						margin-right: 15px
					+xs
						margin-right: 0
						margin-bottom: 8px
				+hover
					> .submenu 
						transform: translateY(0%)
						//margin-top: 0
						display: flex
						opacity: 1
						+xs
							display: none
							transform: none
							transition: none
					> a
						text-decoration: none
						color: $btn_color
						+after
							background: $btn_color
							+xs
								background: $transparent
				> a
					position: relative
					+text(18,400,24,$text_color)
					+after
						position: absolute
						left: 0
						right: 0
						bottom: -16px
						height: 1px
						background: $transparent
					+md
						font-size: 14px
					+sm
						font-size: 12px
					+xs
						font-size: 18px

	&__tools
		+flex(0,0,flex-start,center)
		+xs
			position: absolute
			top: 16px
			right: calc(42px + 4%)
		li
			+xs
				filter: brightness(0) invert(1)
			&:not(:last-child)
				margin-right: 32px
				+sm
					margin-right: 15px
				+xs
					margin-right: 24px
				+break(350)
					margin-right: 15px
	&__burger
		display: none
		+xs
			display: block
			position: absolute
			right: 0
		+before
			opacity: 1
			+tran(all,.2s)
		+after
			display: block
			width: 18px
			height: 18px
			background: url('../img/icons/close_big.svg')
			position: absolute
			opacity: 0
			transform: scale(0)
			top: 0
			right: 4px
			+tran(all,.4s)
		&--open
			+before
				opacity: 0
				transform: scale(0)
			+after
				opacity: 1
				transform: scale(1)
	&__logoMob
		display: none
		+xs
			display: block
			+text(18,400,24,#fff)
		+hover
			text-decoration: none
.search
	position: absolute
	bottom: 0
	left: 50%
	width: 50%
	padding: 16px
	//background: $prim_color
	transform: translateX(-50%)
	z-index: 1
	opacity: 0
	pointer-events: none
	overflow: hidden
	+tran(all,.2s)
	input
		height: 48px
		border: 1px solid $btn_color
		padding-right: 50px
	button
		position: absolute
		top: 50%
		right: 28px
		transform: translateY(-50%)
	&--open
		opacity: 1
		bottom: -60px
		pointer-events: auto
	+xs
		bottom: -28px
		left: 0
		width: 100%
		background: $prim_color
		transform: none

.has_child
	a
		+xs
			pointer-events: none