.cat_link a, .dog_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .cat_link a::before, .dog_link a::before {
    content: '';
    display: block;
    width: 28px;
    height: 24px;
    background-size: contain;
    margin-right: 8px; }

.cat_link a::before {
  content: '';
  background-image: url("../img/icons/cat.svg"); }

.cat_link:hover a::before {
  content: '';
  background-image: url("../img/icons/cat_fill.svg"); }

.dog_link a::before {
  content: '';
  background-image: url("../img/icons/dog.svg"); }

.dog_link a:hover::before {
  content: '';
  background-image: url("../img/icons/dog_fill.svg"); }

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background: #F6F1ED;
  padding-bottom: 46px;
  z-index: -1;
  padding-top: 27px;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .submenu__col {
    padding-left: 24px;
    border-left: 1px solid #AEAEAE; }
    .submenu__col:not(:last-child) {
      margin-right: 40px; }
  .submenu__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000; }
  .submenu__list {
    padding-top: 24px; }
    .submenu__list li:not(:last-child) {
      margin-bottom: 16px; }
    .submenu__list li a {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #000; }
      .submenu__list li a:hover {
        text-decoration: underline; }

.header {
  position: relative; }
  .header__toolbar {
    background: #fff;
    position: relative;
    z-index: 2; }
    .header__toolbar .container {
      background: #fff;
      padding: 7px 0 9px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .header__numbers {
    margin-left: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__numbers::before {
      content: '';
      margin-right: 8px; }
    .header__numbers li:not(:last-child) {
      margin-right: 16px; }
    .header__numbers li a {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; }
  .header__links {
    margin-left: auto; }
    .header__links ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__links ul li:not(:last-child) {
        margin-right: 32px; }
      .header__links ul li a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px; }
  .header__langs {
    margin-left: 106px; }
    .header__langs button {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #3A3A3C; }
      .header__langs button:hover {
        text-decoration: underline; }
    .header__langs .header__langsActive {
      color: #fff;
      padding: 0 8px;
      background: #755139; }
  .header__inner {
    position: relative;
    z-index: 1;
    background: #F6F1ED; }
    .header__inner .container {
      background: #F6F1ED;
      padding: 7px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .header__menu > ul {
    height: 80px;
    margin: -7px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__menu > ul > li {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__menu > ul > li:not(:last-child) {
        margin-right: 48px; }
      .header__menu > ul > li:hover > .submenu {
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        opacity: 1; }
      .header__menu > ul > li:hover > a {
        text-decoration: none;
        color: #755139; }
        .header__menu > ul > li:hover > a::after {
          content: '';
          background: #755139; }
      .header__menu > ul > li > a {
        position: relative;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #3A3A3C; }
        .header__menu > ul > li > a::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -16px;
          height: 1px;
          background: rgba(0, 0, 0, 0); }
  .header__tools {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__tools li:not(:last-child) {
      margin-right: 32px; }

.search {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  padding: 16px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .search input {
    height: 48px;
    border: 1px solid #755139;
    padding-right: 50px; }
  .search button {
    position: absolute;
    top: 50%;
    right: 28px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .search--open {
    opacity: 1;
    bottom: -60px;
    pointer-events: auto; }
