.cat_link a, .dog_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .cat_link a::before, .dog_link a::before {
    content: '';
    display: block;
    width: 28px;
    height: 24px;
    background-size: contain;
    margin-right: 8px; }

.cat_link a::before {
  content: '';
  background-image: url("../img/icons/cat.svg"); }

.cat_link:hover a::before {
  content: '';
  background-image: url("../img/icons/cat_fill.svg"); }

.dog_link a::before {
  content: '';
  background-image: url("../img/icons/dog.svg"); }

.dog_link a:hover::before {
  content: '';
  background-image: url("../img/icons/dog_fill.svg"); }

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background: #F6F1ED;
  padding-bottom: 46px;
  z-index: -1;
  padding-top: 27px;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 768px) {
    .submenu {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      width: 100vw;
      padding: 8px 0;
      margin-top: 8px;
      background: #fff;
      display: none; } }
  .submenu__col {
    padding-left: 24px;
    border-left: 1px solid #AEAEAE; }
    @media (max-width: 768px) {
      .submenu__col {
        border: none;
        margin: 0;
        padding: 0; } }
    .submenu__col:not(:last-child) {
      margin-right: 40px; }
      @media (max-width: 768px) {
        .submenu__col:not(:last-child) {
          margin-right: 0; } }
  .submenu__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000; }
    @media (max-width: 768px) {
      .submenu__title {
        margin-bottom: 8px; } }
  .submenu__list {
    padding-top: 24px; }
    @media (max-width: 768px) {
      .submenu__list {
        display: none;
        padding: 8px 0 16px 0;
        position: relative; }
        .submenu__list::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 4%;
          width: 1px;
          background: #AEAEAE; } }
    .submenu__list li:not(:last-child) {
      margin-bottom: 16px; }
      @media (max-width: 768px) {
        .submenu__list li:not(:last-child) {
          margin-bottom: 8px; } }
    .submenu__list li a {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #000; }
      .submenu__list li a:hover {
        text-decoration: underline; }

.header {
  position: relative;
  z-index: 2; }
  .header__toolbar {
    background: #fff;
    position: relative;
    z-index: 2; }
    @media (max-width: 768px) {
      .header__toolbar {
        position: static;
        background: #202123;
        margin-bottom: 54px; } }
    .header__toolbar .container {
      background: #fff;
      padding: 7px 0 9px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .header__toolbar .container {
          background: #202123;
          padding: 16px 0;
          position: relative; } }
  @media (max-width: 992px) {
    .header__social {
      display: none; } }
  .header__numbers {
    margin-left: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__numbers::before {
      content: '';
      margin-right: 8px; }
      @media (max-width: 768px) {
        .header__numbers::before {
          display: none; } }
    @media (max-width: 1199px) {
      .header__numbers {
        margin-left: 20px; } }
    @media (max-width: 992px) {
      .header__numbers {
        margin-left: 0; } }
    @media (max-width: 768px) {
      .header__numbers {
        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 768px) {
      .header__numbers li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    .header__numbers li::before {
      content: '';
      display: none; }
      @media (max-width: 768px) {
        .header__numbers li::before {
          display: block; } }
    .header__numbers li:not(:last-child) {
      margin-right: 16px; }
      @media (max-width: 1199px) {
        .header__numbers li:not(:last-child) {
          margin-right: 8px; } }
      @media (max-width: 768px) {
        .header__numbers li:not(:last-child) {
          margin-right: 15px; } }
    .header__numbers li a {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; }
      @media (max-width: 1199px) {
        .header__numbers li a {
          font-size: 12px; } }
      @media (max-width: 768px) {
        .header__numbers li a {
          white-space: nowrap;
          margin-left: 7px;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px; } }
      @media (max-width: 350px) {
        .header__numbers li a {
          font-size: 14px; } }
    .header__numbers--m {
      position: relative;
      margin: 16px auto;
      top: 0;
      right: 0;
      padding-left: 33px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: none; }
      .header__numbers--m::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0; }
      .header__numbers--m li {
        margin-right: 0 !important; }
      @media (max-width: 768px) {
        .header__numbers--m {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; } }
  .header__links {
    margin-left: auto; }
    @media (max-width: 768px) {
      .header__links {
        display: none; } }
    .header__links ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__links ul li:not(:last-child) {
        margin-right: 32px; }
        @media (max-width: 1400px) {
          .header__links ul li:not(:last-child) {
            margin-right: 10px; } }
        @media (max-width: 1199px) {
          .header__links ul li:not(:last-child) {
            margin-right: 5px; } }
      .header__links ul li a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px; }
        @media (max-width: 1199px) {
          .header__links ul li a {
            font-size: 12px; } }
    .header__links--m {
      display: none; }
      @media (max-width: 768px) {
        .header__links--m {
          display: block;
          background: #fff;
          margin-top: 24px;
          margin-left: -4%;
          width: 100vw; } }
      .header__links--m ul {
        width: 100vw;
        padding: 8px 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .header__links--m ul li:not(:last-child) {
          margin-bottom: 8px; }
        .header__links--m ul li a {
          font-size: 14px; }
  .header__langs {
    margin-left: 106px; }
    @media (max-width: 1400px) {
      .header__langs {
        margin-left: 50px; } }
    @media (max-width: 1199px) {
      .header__langs {
        margin-left: 30px; } }
    @media (max-width: 768px) {
      .header__langs {
        display: none; } }
    .header__langs button {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #3A3A3C; }
      .header__langs button:hover {
        text-decoration: underline; }
      @media (max-width: 1199px) {
        .header__langs button {
          font-size: 12px; } }
    .header__langs .header__langsActive {
      color: #fff;
      padding: 0 8px;
      background: #755139; }
    .header__langs--m {
      display: none; }
      @media (max-width: 768px) {
        .header__langs--m {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .header__langs--m button {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px; }
  .header__inner {
    position: relative;
    z-index: 1;
    background: #F6F1ED; }
    @media (max-width: 768px) {
      .header__inner {
        position: static; } }
    .header__inner .container {
      background: #F6F1ED;
      padding: 7px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .header__inner .container {
          padding: 0; } }
    .header__innerWrap {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .header__innerWrap {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          position: absolute;
          top: calc(56px + 16px);
          left: 0;
          right: 0;
          background: #F6F1ED;
          padding: 0 4%;
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s; } }
      @media (max-width: 768px) {
        .header__innerWrap--open {
          opacity: 1;
          max-height: 9999px; } }
  @media (max-width: 992px) {
    .header__logo {
      max-width: 140px; } }
  @media (max-width: 768px) {
    .header__logo {
      max-width: 188px; } }
  .header__logo img {
    display: block; }
  .header__menu {
    margin: 0 auto; }
    @media (max-width: 768px) {
      .header__menu {
        width: 100%;
        padding-top: 24px;
        margin-top: 16px;
        border-top: 1px solid #755139; } }
    .header__menu > ul {
      height: 80px;
      margin: -7px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .header__menu > ul {
          height: auto;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin: 0; } }
      .header__menu > ul > li {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 768px) {
          .header__menu > ul > li {
            height: auto;
            display: block;
            text-align: center; } }
        .header__menu > ul > li:not(:last-child) {
          margin-right: 48px; }
          @media (max-width: 1400px) {
            .header__menu > ul > li:not(:last-child) {
              margin-right: 25px; } }
          @media (max-width: 992px) {
            .header__menu > ul > li:not(:last-child) {
              margin-right: 15px; } }
          @media (max-width: 768px) {
            .header__menu > ul > li:not(:last-child) {
              margin-right: 0;
              margin-bottom: 8px; } }
        .header__menu > ul > li:hover > .submenu {
          -webkit-transform: translateY(0%);
              -ms-transform: translateY(0%);
                  transform: translateY(0%);
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          opacity: 1; }
          @media (max-width: 768px) {
            .header__menu > ul > li:hover > .submenu {
              display: none;
              -webkit-transform: none;
                  -ms-transform: none;
                      transform: none;
              -webkit-transition: none;
              -o-transition: none;
              transition: none; } }
        .header__menu > ul > li:hover > a {
          text-decoration: none;
          color: #755139; }
          .header__menu > ul > li:hover > a::after {
            content: '';
            background: #755139; }
            @media (max-width: 768px) {
              .header__menu > ul > li:hover > a::after {
                background: rgba(0, 0, 0, 0); } }
        .header__menu > ul > li > a {
          position: relative;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          color: #3A3A3C; }
          .header__menu > ul > li > a::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -16px;
            height: 1px;
            background: rgba(0, 0, 0, 0); }
          @media (max-width: 1199px) {
            .header__menu > ul > li > a {
              font-size: 14px; } }
          @media (max-width: 992px) {
            .header__menu > ul > li > a {
              font-size: 12px; } }
          @media (max-width: 768px) {
            .header__menu > ul > li > a {
              font-size: 18px; } }
  .header__tools {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .header__tools {
        position: absolute;
        top: 16px;
        right: calc(42px + 4%); } }
    .header__tools li:not(:last-child) {
      margin-right: 32px; }
      @media (max-width: 992px) {
        .header__tools li:not(:last-child) {
          margin-right: 15px; } }
      @media (max-width: 768px) {
        .header__tools li:not(:last-child) {
          margin-right: 24px; } }
      @media (max-width: 350px) {
        .header__tools li:not(:last-child) {
          margin-right: 15px; } }
    .header__tools li a::before {
      content: ''; }
      @media (max-width: 768px) {
        .header__tools li a::before {
          -webkit-filter: brightness(0) invert(1);
                  filter: brightness(0) invert(1); } }
  .header__burger {
    display: none; }
    @media (max-width: 768px) {
      .header__burger {
        display: block;
        position: absolute;
        right: 0; } }
    .header__burger::before {
      content: '';
      opacity: 1;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .header__burger::after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url("../img/icons/close_big.svg");
      position: absolute;
      opacity: 0;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      top: 0;
      right: 4px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .header__burger--open::before {
      content: '';
      opacity: 0;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .header__burger--open::after {
      content: '';
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
  .header__logoMob {
    display: none; }
    @media (max-width: 768px) {
      .header__logoMob {
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #fff; } }
    .header__logoMob:hover {
      text-decoration: none; }
  .header__petPhoto {
    margin-right: 19px !important;
    -webkit-filter: none !important;
            filter: none !important; }
    @media (max-width: 768px) {
      .header__petPhoto {
        margin-right: 24px !important; } }
    @media (max-width: 350px) {
      .header__petPhoto {
        margin-right: 15px !important; } }
    .header__petPhoto a {
      display: block;
      width: 46px;
      height: 46px;
      border-radius: 50%; }
      @media (max-width: 768px) {
        .header__petPhoto a {
          width: 24px;
          height: 24px; } }
      .header__petPhoto a img {
        -o-object-fit: contain;
           object-fit: contain; }
        @media (max-width: 768px) {
          .header__petPhoto a img {
            border: 1px solid #fff; } }
  .header__counter {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: #755139;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #fff; }
    @media (max-width: 768px) {
      .header__counter {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #000;
        background: #fff; } }

.search {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  padding: 16px;
  background: #fff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .search input {
    height: 48px;
    border: 1px solid #755139;
    padding-right: 50px; }
  .search button {
    position: absolute;
    top: 50%;
    right: 28px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .search--open {
    opacity: 1;
    bottom: -60px;
    pointer-events: auto; }
  @media (max-width: 768px) {
    .search {
      bottom: -28px;
      left: 0;
      width: 100%;
      background: #F6F1ED;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; } }

@media (max-width: 768px) {
  .has_child a {
    pointer-events: none; } }
