.ic_arrow::before {
  content: '';
  display: block;
  width: 18px;
  height: 10px;
  background: url("../img/sprite.png") -142px -5px no-repeat; }

.ic_cart::before {
  content: '';
  display: block;
  width: 25px;
  height: 23px;
  background: url("../img/sprite.png") -440px -5px no-repeat; }

.ic_gal::before {
  content: '';
  display: block;
  width: 11px;
  height: 8px;
  background: url("../img/sprite.png") -23px -5px no-repeat; }

.ic_clock::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -257px -5px no-repeat; }

.ic_comment::before {
  content: '';
  display: block;
  width: 25px;
  height: 28px;
  background: url("../img/sprite.png") -475px -5px no-repeat; }

.ic_discount::before {
  content: '';
  display: block;
  width: 82px;
  height: 66px;
  background: url("../img/sprite.png") -592px -5px no-repeat; }

.ic_facebook::before {
  content: '';
  display: block;
  width: 8px;
  height: 17px;
  background: url("../img/sprite.png") -5px -5px no-repeat; }

.ic_heart::before {
  content: '';
  display: block;
  width: 31px;
  height: 28px;
  background: url("../img/sprite.png") -510px -5px no-repeat; }

.ic_heart_red::before {
  content: '';
  display: block;
  width: 31px;
  height: 28px;
  background: url("../img/sprite.png") -551px -5px no-repeat; }

.ic_instagram::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/sprite.png") -44px -5px no-repeat; }

.ic_mail::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -287px -5px no-repeat; }

.ic_map::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -317px -5px no-repeat; }

.ic_marker::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -347px -5px no-repeat; }

.ic_mobile::before {
  content: '';
  display: block;
  width: 14px;
  height: 20px;
  background: url("../img/sprite.png") -68px -5px no-repeat; }

.ic_mobile2::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") -377px -5px no-repeat; }

.ic_phone::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") -116px -5px no-repeat; }

.ic_radio_checked::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") -170px -5px no-repeat; }

.ic_redio_not_checked::before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url("../img/sprite.png") -199px -5px no-repeat; }

.ic_search::before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url("../img/sprite.png") -407px -5px no-repeat; }

.ic_telegram::before {
  content: '';
  display: block;
  width: 14px;
  height: 12px;
  background: url("../img/sprite.png") -92px -5px no-repeat; }

.ic_user::before {
  content: '';
  display: block;
  width: 19px;
  height: 23px;
  background: url("../img/sprite.png") -228px -5px no-repeat; }

.ic_heart_small::before {
  content: '';
  display: block;
  width: 24px;
  height: 22px;
  background: url("../img/icons/heart_small.svg"); }

.ic_close::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/icons/close.svg"); }

.ic_trash::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/trash.svg"); }

.ic_search_brown::before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: url("../img/icons/search_brown.svg"); }

.ic_fcb_colored::before {
  content: '';
  display: block;
  width: 32px;
  height: 33px;
  background: url("../img/icons/facebook_colored.svg"); }

.ic_google_colored::before {
  content: '';
  display: block;
  width: 32px;
  height: 33px;
  background: url("../img/icons/google_colored.svg"); }

.ic_burger::before {
  content: '';
  display: block;
  width: 26px;
  height: 18px;
  background: url("../img/icons/burger.svg"); }
