.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .modal--open {
    opacity: 1;
    pointer-events: auto; }
  .modal__win {
    width: 100%;
    max-width: 674px; }
  .modal--right .modal__win {
    max-width: 415px;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
  .modal--right .modal__close {
    position: absolute;
    top: 34px;
    right: 18px; }
  .modalCart--open .modal__win {
    right: 0; }
  .modalCart__title {
    padding: 20px 0 0 32px;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px; }
  .modalCart__items {
    max-height: 463px;
    overflow: auto; }
  .modalCart__item {
    padding: 16px 11px 18px 11px;
    position: relative;
    border-bottom: 1px solid rgba(117, 81, 57, 0.25);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .modalCart__remove {
    position: absolute;
    top: 16px;
    right: 11px; }
  .modalCart__thumb img {
    width: 118px;
    height: 118px;
    -o-object-fit: contain;
       object-fit: contain; }
  .modalCart__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
  .modalCart__info {
    margin-top: auto; }
